td,a,a:link,a:visited{color:#000000;text-decoration:none;font-size:9pt}
a:hover{COLOR:#000000;font-size:9pt;TEXT-DECORATION:underline}
input,select{font-size:9pt;COLOR:#000000;}
body{COLOR:#000000;
font-size:9pt;
SCROLLBAR-TRACK-COLOR:#eeeeee;
SCROLLBAR-SHADOW-COLOR:buttonface;
SCROLLBAR-HIGHLIGHT-COLOR:buttonface;
SCROLLBAR-3DLIGHT-COLOR:buttonhighlight;
SCROLLBAR-DARKSHADOW-COLOR:buttonshadow}
.input{
font-size:9pt;
border-top:#CDCDCD 1px solid;
border-left:#CDCDCD 1px solid;
border-right:#eeeeee 1px solid;
border-bottom:#eeeeee 1px solid;
height:18px;color:#000000;
padding-top:1px;
letter-spacing:0px;
padding-right:0px;
padding-left:0px}
.btn{
font-size:9pt;
border-top:#CDCDCD 1px solid;
border-left:#CDCDCD 1px solid;
border-right:#737373 1px solid;
border-bottom:#737373 1px solid;
height:18px;
color:#000000;
padding-top:1px;
letter-spacing:0px;
padding-right:0px;
padding-left:0px}
.textarea{
font-size:9pt;
border-top:#CDCDCD 1px solid;
border-left:#CDCDCD 1px solid;
border-right:#eeeeee 1px solid;
border-bottom:#eeeeee 1px solid;
color:#000000;
padding-top:1px;
letter-spacing:0px;
padding-right:0px;
padding-left:0px}
