td {font-size: 9pt;line-height: 1.5;}
body {font-size: 9pt;line-height: 1.5;}
a:link { font-size: 9pt; color: #000000; text-decoration: underline }
a:visited{ font-size: 9pt; color: #000000; text-decoration: underline }
a:hover {font-size: 9pt;color: red}
form,h1,h2,h3,h4,h5,h6{	margin: 0; padding:0;}
.m1{border-left: 1px solid #DFDFDB; border-top: 1px solid #DFDFDB; border-bottom: 1px solid #808080}
.m2{border-left: 1px solid #DFDFDB; border-bottom: 1px solid #808080; border-top: 1px solid #DFDFDB;border-right: 1px solid #DFDFDB;}
.m3{border-left: 1px solid #DFDFDB; border-top: 1px solid #DFDFDB;border-right: 1px solid #DFDFDB;}
.article{FONT-SIZE: 10pt; LINE-HEIGHT: 160%ï¼›table-layout:fixed;word-break:break-all}
.bn{color:#FFFFFF;font-size:0.1pt;line-height:50%}
.contents{font-size:1pt;color:#F7F6F8}
.nb{border: 1px solid #000000;height:18px}
.coolbg {border-right: 2px solid #ACACAC; border-bottom: 2px solid #ACACAC; background-color: #E6E6E6}