/***
 *	DedeCMS v5.3 Style (grass green)
 *	dedecms.com  Author pigz  2008-11-07 11:49
 **/
 
/*---------- import ---------*/
@import url("layout.css");
@import url("page.css");


/*---------- base ---------*/
*{
	padding:0px;
	margin:0px;
}
html{
	background:#FFF;
}
body{
	font:12px Verdana,Arial,Tahoma;
}
img{
	border:none;
}

a{
	color:#256EB1;
	text-decoration:none;
}
a:hover{
	color:#F33;
	text-decoration:underline;
}
ul{
	list-style:none;
}
input,select,button{
	font:12px Verdana,Arial,Tahoma;
	vertical-align:middle;
}
/*---------- stock ---------*/
.center{
	margin:0px auto;
}
.w960{
	width:960px;
	/*position:relative;*/
}
.pright .infos_userinfo {
	margin-bottom: 0px;
}
.mt1{/* ( margin-top * 1 ) */
	margin-top:8px;
}
.pright .mt1{
	margin-top:0px;
}
.mt2{/* ( margin-top * 2 ) */
	margin-top:16px;
}
.clear{
	overflow:hidden;
}
.fs-12{
	font-size:12px;
}
.fc-f60{
	color:#F60;
}
.fc-f90{
	color:#F90;
}
.ipt-txt{
	line-height:15px;
	padding:4px 5px;
	border-width:1px;
	border-style:solid;
	border-color:#666 #BBB #BBB #666;
	font-size:12px;
	margin-right:2px;
}
.btn-1{
	width:56px;
	height:23px;
	border:none;
	background:url(../images/btn-bg1.gif) no-repeat;
	line-height:25px;
	letter-spacing:1px;
	cursor:pointer;
	overflow:hidden;
	color:#2F592E;
}
.btn-2{
	width:70px;
	height:25px;
	border:none;
	background:url(../images/btn-bg2.gif) left top no-repeat;
	line-height:25px;
	overflow:hidden;
	color:#444;
	margin-right:2px;
}
/*---------- frame ---------*/
/*---------- frame : header ---------*/
.header{
	width:100%;
	padding-top:16px;
	width:960px;
	margin:auto;
	overflow:hidden;
}
.header .search {
	margin-top:5px;
}
.header a{
	color:#777;
}
.header a:hover{
	color:#390;
	text-decoration:none;
}
.header .top{
	clear:both;
	overflow:hidden;
}
.header .title{
	float:left;
	padding-left:16px;
}
.header .title h1 a{
	width:200px;
	height:56px;
	display:block;
	font-size:0px;
	text-indent:-200px;
	overflow:hidden;
	background:url(../images/top-logo.gif) center center no-repeat;
}
.header .banner{
	width:480px;
	height:56px;
	float:left;
	margin-left:40px;
	overflow:hidden;
}
.header .banner img{
	width:480px;
	height:56px;
	display:block;
}
.header .rlink{
	width:172px;
	height:52px;
	float:left;
	margin-left:32px;
	overflow:hidden;
	padding-top:4px;
}
.header .rlink ul li{
	width:78px;
	height:21px;
	background:url(../images/toprlink-bg.gif) left top no-repeat;
	float:left;
	margin-right:8px;
	margin-bottom:8px;
	overflow:hidden;
}
.header .rlink ul li a{
	display:block;
	color:#777;
	line-height:21px;
	text-indent:22px;
	background-image:url(../images/toprlink-bg.gif);
	background-repeat:no-repeat;
}
.header .rlink ul li a:hover{
	color:#000;
}
.header .rlink ul li.r1 a{
	background-position:0px -21px;
}
.header .rlink ul li.r2 a{
	background-position:0px -42px;
}
.header .rlink ul li.r3 a{
	background-position:0px -63px;
}
.header .rlink ul li.r4 a{
	background-position:0px -84px;
}
.header .welcome{
	float:right;
	margin-top:20px;
	padding-right:10px;
	color:#999;
}
.header .welcome a{
	margin:0px 3px;	
}

/*----- 新版导航菜单位置的样式 -------*/
.header .nav { }
/*-------- 圆角模型 ---------*/
.module, .module .mid {
	overflow:hidden;
}
.module .top .t_l, .module .bottom .b_l {
	float:left;
	overflow:hidden;
}
.module .top .t_r, .module .bottom .b_r {
	float:right;
	overflow:hidden;
}
.module .top em {
	float:left;
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	margin-left: 5px;
}
.module .top em a:link, .module .top em a:visited {
	font-size:13px;
	font-weight:bold;
}
.module .top span {
	float:right;
}
.module .top strong {
	cursor:pointer;
	float:right;
	font-weight:normal;
	margin-right:4px;
}
.module .mid .m_l, .module .mid .m_r {
	overflow:hidden;
}
.module .mid .content {
	overflow:hidden;
	height:100%;
	clear: both;
	margin-right: 8px;
	margin-left: 8px;
	padding-top: 8px;/*padding-bottom: 10px;*/
}
.module .top, .module .top .t_l, .module .top .t_r, .module .bottom, .module .bottom .b_l, .module .bottom .b_r {
	background-image: url("../images/header_bg.png");
}
/*------ 蓝色 -------*/
.blue .top {
	background-position: 0 -87px;
	background-repeat: repeat-x;
	height: 77px;
}
.blue .top .t_l {
	background-position: -13px 0;
	background-repeat: no-repeat;
	height: 77px;
	width: 7px;
}
.blue .top .t_r {
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 77px;
	width: 10px;
}
/* --------- 导航 ----------------*/
.w963 {
	width:963px;
	margin-top:8px;
	margin-bottom:0px;
}
#navMenu {
	width:940px;
	overflow:hidden;
}
#navMenu li {
	float: left;
	line-height: 34px;
	height: 34px;
	background-image: url(../images/header_interval.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	margin-left: -2px;
}
#navMenu li a {
	font-size: 14px;
	color: #FFF;
	padding-right: 1em;
	padding-left: 1em;
	margin-left: 2px;
	display: block;
}
#navMenu li a:hover, #navMenu li.hover a {
	background-image: url(../images/header_hover.png);
	background-repeat: no-repeat;
	background-position: center top;
	text-decoration: none;
}
/*-------- 下拉菜单 --------------*/
.dropMenu {
	position:absolute;
	top: 0;
	z-index:100;
	width: 120px;
	visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA, direction=135, strength=4);
	margin-top: -1px;
	border: 1px solid #93E1EB;
	border-top: 0px solid #3CA2DC;
	background-color: #FFF;
	background:url(../images/mmenubg.gif);
	padding-top:6px;
	padding-bottom:6px;
}

.dropMenu li {
	margin-top:2px;
	margin-bottom:4px;
	padding-left:6px;
}
.dropMenu a {
	width: auto;
	display: block;
	color: black;
	padding: 2px 0 2px 1.2em;
}
* html .dropMenu a {
	width: 100%;
}
.dropMenu a:hover {
	color:red;
	text-decoration: underline;
}
/*------ //搜索框 ---------*/
.search-keyword {
	width:160px;
	height:19px;
	padding-top:5px;
	padding-left:56px;
	border:0px;
	background:url(../images/search-bg.gif) no-repeat;
}
.search-submit {
	cursor:pointer;
	width:68px;
	height:22px;
	font-size:0px;
	color:#fafafa;
	border:0px;
	background:url(../images/search-bt.gif) no-repeat;
}
.search-option {
	margin-left:3px;
	margin-right:3px;
	height:22px;
}
.w963 .search{
	padding-left:10px;
	line-height:32px;
}
.w963 .form h4 {
	display:none;
}
.w963 .form {
	float:left;
	margin-right:10px;
}
.w963 .tags {
	width:500px;
	overflow:hidden;
}
.w963 .tags h4 {
	float:left;
	margin-right: 6px;
	width:66px;
	height:26px;
	background:url(../images/search-tags-title.gif) 0px 6px no-repeat;
	font-size:0px;
	color:#fafafa;
}
.w963 .tags li {
	float:left;
	margin-right: 6px;
}
.header .nav .end { }
/*-- //End 导航菜单 --*/

/*---------- frame : channel-nav ---------*/
.channel-nav {
	margin-top:8px;
	border:1px solid #D5ECFB;
	background:url(../images/navbg.gif) repeat-x;
	padding-left:6px;
	width:950px;
	overflow:hidden;
}
.channel-nav .sonnav {
	padding-top:2px;
	width:830px;
	line-height:26px;
	float:left;
}
.channel-nav .sonnav span {
	padding-left:14px;
	margin-right:8px;
	background:url(../../images/dd2.gif) 0 1px no-repeat;
	overflow:hidden;
}
.channel-nav .sonnav a {
	color:#333;
	text-decoration:none;
}
.channel-nav .back{
	display:block;
	height:22px;
	line-height:21px;
	padding-top:6px;
	padding-right:10px;
	padding-left:20px;
	letter-spacing:2px;
	float:right;
	background:url(../images/ico-home.gif) 4px 10px no-repeat;
} 
.channel-nav .back a{
	color:#397CBE;
}
.channel-nav .back a:hover{
	text-decoration:none;
	color:#777;
}

/*---------- frame : footer ---------*/
.footer{
	width:960px;
	margin:auto;
	color:#999;
	text-align:center;
	margin-top:8px;
	padding-bottom:10px;
	border-top:1px solid #E5EFD6;
	padding-top:10px;
}
.footer .link{
	text-align:center;
	padding:5px 0px;
}
.footer .link a{
	margin:0px 5px;
	color:#666666;
}
.footer .powered{
	font-size:10px;
	line-height:25px;
}
.footer .powered strong{
	color:#690;
}
.footer .powered strong span{
	color:#F93;
}
.footer .copyright{
	color:#666666;
	line-height:23px;
}