@charset "utf-8";
/*---------------下载*/
/*---------------盒子左侧*/
.pleft{
	width:670px;
	float:left;
	overflow:hidden;
}
/*---------------左侧:当前位置*/
.thisplace{
	width:670px;
	height:31px;
	background:url(../images/place_bg.jpg) repeat-x;

}
.thisplace .title{
	display:block;
	width:156px;
	height:31px;
	line-height:29px;
	text-indent:22px;
	letter-spacing:4px;
	font-weight:bold;
	background:url(../images/place_left.gif) right top no-repeat;
	float:left;
}
.flashinfo {
	width: 500px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	text-align: left;
}
.thisplace .placenav{
	float:right;
	margin-right:10px;
	line-height:31px;
}
.thisplace .placenav a{
	color:#666666;
}


.flist{
	width:670px;
	background:url(../images/pright_hr.gif) top center no-repeat;
	overflow:hidden;
	clear:both;
}
.flist dl{
	width:318px;
	height:88px;
	display:inline;
	margin:10px 0px 0px 10px;
	float:left;
	border:1px solid #F7F7F7;
	overflow:hidden;
}
.flist dl dt{
	width:104px;
	height:76px;
	float:left;
	margin:6px;
	display:inline;
}
.flist dl dt a{
	display:block;
	width:100px;
	height:72px;
	border:1px solid #DDD;
	overflow:hidden;
	padding:1px;
}
.flist dl dt a:hover{
	border:1px solid #9C0;
}
.flist dl dd{
	float:left;
	width:180px;
	display:block;
	margin-left:5px;
}
.flist dl dd.fname{
	line-height:33px;
	font-size:14px;
}
.flist dl dd.fname a{
	color:#F60;
}
.flist dl dd.fvno{
	line-height:21px;
	color:#669933;
}
.flist dl dd.fvno strong{
	color:#666;
}
.flist dl dd.fbutbox{
	margin-top:5px;
}
.flist dl dd.fbutbox a{
	margin-right:6px;
	float:left;
}
.flist dl dd.fbutbox a.but1{
	width:38px;
	height:20px;
	display:block;
	background:url(../images/but_1.gif) no-repeat;
}

.flist dl dd.fbutbox a.but2{
	width:38px;
	height:20px;
	display:block;
	background:url(../images/but_4.gif) no-repeat;
}



.pright{
	width:222px;
	float:right;
	overflow:hidden;
}
.fclass{
	width:222px;
}
.fclass dl{
	padding-bottom:11px;
	background:url(../images/flash_ctitle_top.gif) center bottom no-repeat;
}
.fclass dl dt{
	width:222px;
	height:33px;
	text-align:center;
	line-height:31px;
	letter-spacing:3px;
	font-weight:bold;
	background:url(../images/flash_ctitle_top.gif) center top no-repeat;
	color:#C60;
}
.fclass dl dd{
	background:url(../images/flash_c_bg.gif) repeat-y;
}
.fclass dl dd ul{
	width:180px;
	margin:0px auto;
	overflow:hidden;
}
.fclass dl dd ul li{
	width:90px;
	height:31px;
	line-height:31px;
	float:left;
	font-size:14px;
}

.ftop{
	width:222px;
	overflow:hidden;
}
.ftop dl{
	width:222px;
}
.ftop dl dt{
	width:222px;
	height:31px;
	line-height:31px;
	background:url(../images/flash_list_tbg.gif) no-repeat;
	text-indent:20px;
	font-weight:bold;
	letter-spacing:3px;
	color:#FFF;
}
.ftop dl dd{
	width:220px;
	border:1px solid #FFD86A;
	background:url(../images/no_list_bg_1.gif) 8px 0px repeat-y;
	overflow:hidden;
}
.ftop dl dd ul{
	background:url(../images/no_list_1.gif) 8px -3px no-repeat;
	display:block;
	clear:both;
	padding-bottom:5px;
}
.ftop dl dd ul li{
	width:216px;
	height:27px;
	line-height:27px;
	margin:2px auto;
	text-indent:31px;
	border-bottom:1px solid #FFEEB9;
}
.ftop dl dd ul li a{
	width:216px;
	height:27px;
	display:block;
	text-decoration:none;
	background:url(../images/ico_18.gif) 196px center no-repeat;
}
.ftop dl dd ul li span{
	display:block;
	position:relative;
	float:right;
	margin:-20px 5px 0px 0px;
}

.fview{
	width:670px;
	background:url(../images/pright_hr.gif) top center no-repeat;
	overflow:hidden;
	clear:both;
}
.fview .ftitle{
	width:670px;
	line-height:31px;
	text-align:center;
	color:#0033CC;
	font-weight:bold;
	letter-spacing:2px;
	font-size:14px;
}
.fview .finfo{
	width:668px;
	line-height:31px;
	border:1px solid #DDD;
	background:#F5F5F5;
	text-align:center;
	color:#999;
}
.fview .finfo strong{
	margin-left:18px;
	color:#666;
}

.fview .fbutbox{
	width:620px;
	margin:15px auto 0px;
	overflow:hidden;
	clear:both;
}
.fview .fbutbox a{
	height:23px;
	line-height:23px;
	text-decoration:none;
	display:block;
	padding-left:10px;
	padding-right:10px;
	float:left;
	letter-spacing:2px;
	margin-right:10px;
	font-weight:bold;
}
.fview .fbutbox a.c1{
	border:1px solid #F1B923;
	background:url(../images/but_bg_sr.gif) 0px -22px repeat-x;
	color:#CC3300;
}
.fview .fbutbox a.c2{
	color:#063;
	border:1px solid #9C0;
	background:url(../images/but_bg_sr.gif) 0px 0px repeat-x;
}
.fview .fbutbox a:hover{
	color:#369;
	border:1px solid #8CADCE;
	background:url(../images/but_bg_sr.gif) 0px -44px repeat-x;
}
.fview .flashbox{
	width:658px;
	margin:10px auto;
	padding:5px;
	border:1px solid #DDD;
	text-align: center;
}



/*---------------内容页:评论*/
.comment{
	width:668px;
	border:1px solid #DDD;
	margin-top:7px;
	overflow:hidden;
}
.comment .commenttitle{
	width:666px;
	height:26px;
	margin:1px auto;
	background:url(../images/title_bg_1.gif) repeat-x;
	border-bottom:1px solid #DDD;
}
.comment .commenttitle .title{
	float:left;
	margin:5px 0px 0px 12px;
	color:#999;
	display:inline;
}
.comment .commenttitle .title strong{
	letter-spacing:4px;
	color:#444;
	margin-right:10px;
}
.comment .commenttitle .gotopost{
	float:right;
	display:block;
	width:100px;
	height:23px;
}
.comment .commenttitle .gotopost a{
	width:95px;
	height:22px;
	display:inline;
	float:right;
	text-align:center;
	line-height:22px;
	text-decoration:none;
	background:url(../images/ico_gotopost.gif) no-repeat;
	margin:1px 3px 0px 0px;
}
.comment .commentbox{
	width:668px;
}
.comment .commentbox dl{
	width:636px;
	margin:10px auto 0px;
	border:1px solid #D1DDCE;
}
.comment .commentbox dl dt{
	width:636px;
	background:#F4F9F2;
	line-height:25px;
	text-indent:10px;
	color:#333;
	border-bottom:1px solid #E6ECE3;
}
.comment .commentbox dl dt span{
	color:#669933;
	font-size:11px;
}
.comment .commentbox dl dd{
	padding:10px;
	font-size:14px;
	line-height:25px;
	color:#666;
}
/*---------------内容页:发表评论:标题*/
.comment .posttitle{
	width:666px;
	height:26px;
	margin:10px auto;
	background:url(../images/title_bg_1.gif) repeat-x;
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
}
.comment .posttitle strong{
	letter-spacing:4px;
	color:#444;
	display:block;
	margin:7px 0px 0px 13px;
}
.comment .postbox{
	width:636px;
	margin:5px auto;
	overflow:hidden;
}

.comment .postbox .userbox{
	width:636px;
	overflow:hidden;
	margin-top:10px;
}
.comment .postbox .userbox dl{
	width:636px;
}
.comment .postbox .userbox dl dd{
	float:left;
	display:block;
	padding-bottom:2px;
}
.comment .postbox .userbox dl dd input.username,.comment .postbox .userbox dl dd input.password{
	width:100px;
	border:1px solid #CCC;
	padding:3px 0px 2px 5px;
	margin-right:10px;
}
.comment .postbox .userbox dl dd.mtop{
	margin:7px 7px 0px 0px;
}
.comment .postbox .txtbox{
	width:636px;
	line-height:25px;
}
.comment .postbox .txtbox textarea{
	border:1px solid #CCC;
	width:600px;
	height:80px;
	padding:5px;
}
.comment .postbox  .sbut{
	margin:10px;
}
.comment .postbox .userbox .submit{
	width:100px;
	height:25px;
	padding-top:2px;
}
/*---------------内容页:操作*/
.actbar{
	width:638px;
	height:27px;
	line-height:27px;
	margin:6px auto;
	background:#FCFCFC;
	border:1px solid #F0F0F0;
	text-align:right;
}
.actbar span{
	margin-right:20px;
	color:#CCC;
}
.actbar span a{
	color:#669900;
	margin-right:3px;
	margin-left:3px;
}
