@charset "utf-8";
/*---------------首页*/

/*---------------左侧*/
.ileft{
	width:670px;
	float:left;
	overflow:hidden;
}

.leftop{
	width:670px;
	overflow:hidden;
}
.leftop .swfnews{
	width:280px;
	height:200px;
	float:left;
}
.leftop .topnews{
	width:384px;
	float:left;
	margin-left:6px;
}
.leftop .topnews dl{
	width:384px;
	background:url(../images/topline_botbg.gif) left bottom repeat-x; 
	padding-bottom:6px;
}
.leftop .topnews dl dt{
	padding:3px 0px 4px 5px;
	border-bottom:1px solid #DDD;
}
.leftop .topnews dl dt a{
	font-size:18px;
	color:#003399;
	font-weight:bold;
	display:block;
}
.leftop .topnews dl dt span{
	line-height:20px;
	color:#666;
}
.leftop .topnews dl dd{
	width:384px;
	overflow:hidden;
}
.leftop .topnews dl dd ul{
	width:384px;
	margin:6px auto 0px;
}
.leftop .topnews dl dd ul li{
	display:block;
	width:192px;
	height:29px;
	float:left;
	overflow:hidden;
}
.leftop .topnews dl dd ul li a{
	display:block;
	width:188px;
	height:29px;
	line-height:29px;
	overflow:hidden;
	white-space:nowrap;
	background:url(../images/ico_2.gif) 5px 12px no-repeat;
	text-indent:21px;
	color:#666666;
}

/*---------------左侧列表*/
.leftlist{
	width:668px;
	border:1px solid #DDD;
	overflow:hidden;
}
.leftlist .ptitle{
	width:666px;
	height:31px;
	margin:1px auto 0px;
	background:url(../images/topline_botbg.gif) 0px -20px repeat-x;
	border-bottom:1px solid #EEE;
}
.leftlist .ptitle a{
	display:block;
	width:200px;
	height:31px;
	line-height:31px;
	background:url(../images/article_ico_1.gif) 8px 8px no-repeat;
	text-indent:30px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.leftlist .ptlink{
	position:relative;
	float:right;
	margin:-23px 10px 0px 0px;
	display:inline;
}
.leftlist .ptlink a{
	color:#666666;
}
.leftlist .plist{
	width:668px;
	overflow:hidden;
	list-style:none;
}


/*---------------图文资讯*/
.picnews dd{
	width:154px;
	float:left;
	display:inline;
	text-align:center;
	margin:10px 0px 0px 10px;
	line-height:31px;
	overflow:hidden;
}
.picnews dd a img{
	border:1px solid #DDD;
}
.picnews dd a:hover img{
	border:1px solid  #FFCC00;
}
.picnews dd a{
	display:block;
}

/*---------------资讯列表*/
.newsbox{
	width:680px;
	clear:both;
	overflow:hidden;
}
.newsbox dl{
	width:330px;
	float:left;
	margin-right:6px;
	border:1px solid #DDD;
}
.newsbox dl dt{
	width:328px;
	height:31px;
	margin:1px auto 0px;
	background:url(../images/topline_botbg.gif) 0px -20px repeat-x;
	border-bottom:1px solid #EEE;
}
.newsbox dl dt a{
	display:block;
	height:31px;
	line-height:31px;
	background:url(../images/article_ico_1.gif) 8px 8px no-repeat;
	text-indent:30px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.newsbox dl dd{
	width:330px;
}
.newsbox dl dd ul{
	width:300px;
	margin:6px auto;
}
.newsbox dl dd ul li{
	height:29px;
	line-height:29px;
	background:url(../images/ico_4.gif) 6px 14px no-repeat;
	text-indent:20px;
}
.newsbox dl dd ul li a{
	color:#0066CC;
	font-size:14px;
}

/*---------------分类信息*/
.clsbox{
	width:668px;
}
.clsbox ul{
	width:668px;
	margin:5px auto;
	overflow:hidden;
}
.clsbox ul li{
	width:334px;
	height:31px;
	margin-left:-1px;
	float:left;
	border-left:1px solid #EEE;
	text-indent:30px;
	line-height:30px;
	background:url(../images/ico_4.gif) 16px 15px no-repeat;
	overflow:hidden;
}
.clsbox ul li span a{
	color:#FF6600;
	font-weight:bold;
	font-size:12px;
	text-decoration:none; 
}
.clsbox ul li  a{
	font-size:14px;
	color:#0066CC;
}


.pdlbox{/*左侧列表区域左*/
	width:434px;
	float:left;
}
.pdlbox dl{
	width:434px;
}

.pdright{/*左侧列表区域右*/
	width:232px;
	height:260px;
	display:inline;
	float:right;
	overflow:hidden;
	background:url(../images/topline_botbg.gif) right bottom repeat-x;
	border-left:1px solid #EEE;
}
.pdright dl{
	width:230px;
	height:260px;
	border-right:1px solid #FFF;
	border-left:1px solid #FFF;
}
.pdright dl dt{
	line-height:17px;
	font-weight:bold;
	font-size:14px;
	text-indent:24px;
	background:url(../images/ico_8.gif) 5px 0px no-repeat;
	margin-top:7px;
}
.pdright dl dd ul{
	width:230px;
	text-indent:25px;
}
.pdright dl dd ul li{
	height:29px;
	line-height:29px;
	background:url(../images/ico_4.gif) 12px 15px no-repeat;
}
.pdright dl dd ul li a{
	color:#666;
}


/*---------------问答左侧*/
.askbox{
	width:668px;
	overflow:hidden;
	padding-bottom:1px;
}
.askbox .pdlbox dl dd {
	width:430px;
	height:32px;
	display:block;
	clear:both;
	line-height:32px;
	overflow:hidden;
}
.askbox .pdlbox dl dd.ot1{
	background:url(../images/qa_ico_ot.gif) 94px 10px no-repeat;
}
.askbox .pdlbox dl dd.ot2{
	background:url(../images/qa_ico_ot.gif) 94px -17px no-repeat;
}
.askbox .pdlbox dl dd span.otclass{
	width:88px;
	float:left;
	color:#999;
	display:block;
	text-align:right;
	color:#999;
}
.askbox .pdlbox dl dd span.otclass a{
	color:#888;
	text-decoration:none;
}
.askbox .pdlbox dl dd span.otclass a:hover{
	color:#FF3300;
}
.askbox .pdlbox dl dd span.otlink{
	display:block;
	float:left;
	text-indent:28px;
	font-size:14px;
}
.askbox .pdlbox dl dd span.otlink a{
	color:#0066CC;
}
.askbox .pdlbox dl dd span.otlink a:hover{
	color:#FF0000;
}


.flabox .pdlbox dl{
	width:434px;
}
.flabox .pdlbox dl dd {
	width:200px;
	display:block;
	height:48px;
	overflow:hidden;
	float:left;
	padding:10px 0px 6px 17px;
}
.flabox .pdlbox dl dd span.flashimg{
	width:60px;
	height:42px;
	padding:1px;
	border:1px solid #DDD;
	display:block;
	overflow:hidden;
	float:left;
}
.flabox .pdlbox dl dd span.flashimg img{
	width:60px;
	height:42px;
}
.flabox .pdlbox dl dd span.flashname{
	width:130px;
	display:block;
	float:left;
	height:25px;
	line-height:25px;
	text-indent:5px;
	font-weight:bold;
	white-space:nowrap;
	overflow:hidden;
}
.flabox .pdlbox dl dd span.flashvs{
	width:130px;
	display:block;
	float:left;
	height:21px;
	line-height:21px;
	text-indent:10px;
	color:#AAA;
}

/*--------------------右侧*/
.iright{
	width:222px;
	float:right;
}
/*-------------------------右侧:白底常规列表定义*/
.rlist{
	width:222px;
}
.rlist .title{
	width:222px;
	height:19px;
	padding-top:9px;
	background:url(../images/rlist_title_bg.gif) no-repeat;
	text-indent:10px;
	font-weight:bold;
	letter-spacing:2px;
	color:#444;
}
.rlist .rbox{
	border:1px solid #E2E2E2;
	width:220px;
}

.jftop{
	width:222px;
	background:url(../images/no_list_bg_1.gif) 9px 31px repeat-y;
}
.jftop .jftitle{
	width:222px;
	height:18px;
	padding-top:12px;
	line-height:17px;
	background:url(../images/jitop_bgtop.gif) no-repeat;
	text-indent:26px;
	font-weight:bold;
	letter-spacing:3px;
}
.jftop dl{
	width:220px;
	border-color:#D9D9D9;
	border-style:solid;
	border-width:0px 1px 1px 1px;
	padding-bottom:5px;
	clear:both;
	background:url(../images/no_list_1.gif) 8px 0px no-repeat;
}
.jftop dl dd{
	height:23px;
	width:212px;
	display:block;
	clear:both;
	padding-top:7px;
	margin:0px 4px 0px 4px;
	background: url(../images/hr_1.gif) center bottom repeat-x;
}
.jftop dl dd  span{
	display:inline;
}
.jftop dl dd .name{
	float:left;
	margin-left:29px;
}
.jftop dl dd .jifen{
	float:right;
	width:60px;
	text-align:left;
	font-size:10px;
	color:#339933;
}


.gpbox{
	width:220px;
}
.gpbox ul{
	width:220px;
	overflow:hidden;
	padding-bottom:10px;
}
.gpbox ul li{
	display:inline;
	float:left;
	width:98px;
	margin:9px 0px 0px 8px;
}
.gpbox ul li span.gpimg{
	width:96px;
	display:block;
}
.gpbox ul li span.gpimg a{
	width:94px;
	height:56px;
	display:block;
	border:1px solid #DDD;
	padding:1px;
	overflow:hidden;
}
.gpbox ul li span.gpimg a:hover{
	border:1px solid #F90;
}
.gpbox ul li span.gpimg a img{
	width:94px;
	height:56px;
}
.gpbox ul li span.gpname{
	width:96px;
	display:block;
	text-align:center;
	line-height:21px;
	margin-top:5px;
	overflow:hidden;
}

.gplist{
	width:220px;
}
.gplist dl{
	border-top:1px solid #EEE;
	padding-top:1px;
}
.gplist dl dt{
	width:218px;
	height:26px;
	margin:0px auto;
	background:url(../images/topline_botbg.gif) right -25px repeat-x;
	border-bottom:1px solid #EEE;
	line-height:26px;
	text-indent:12px;
	font-weight:bold;
	letter-spacing:3px;
}
.gplist dl dd ul{
	width:200px;
	margin:0px auto;
}
.gplist dl dd ul li{
	width:200px;
	height:25px;
	line-height:25px;
	overflow:hidden;
}
.gplist dl dd ul li span.gpclass{
	color:#999999;
}
.gplist dl dd ul li span.gpclass a{
	color:#999999;
	text-decoration:none;
}
.gplist dl dd ul li span a:hover{
	color:#FF3300;
}
.gplist dl dd ul li span.gptlink{
	margin-left:5px;
}
.gplist dl dd ul li span.gptlink a{
	color:#0066CC;
}


/*-------------------------首页:右侧栏:投票调查*/
.vote span{
	display:block;
	height:20px;
	line-height:20px;
	margin:12px 0px 2px 10px;
}
.vote span input{
	width:26px;
}
.vote .votesubmit{
	width:200px;
	margin:7px auto;
	border-top:1px solid #DDD;
	text-align:center;
	padding-top:10px;
	height:24px;

}

/*-------------------------首页:底部*/
/*-------------------------首页:底部:友情链接*/
.flink{
	width:898px;
	margin:6px auto;
	border:1px solid #DDD;
	clear:both;
	overflow:hidden;
}
.flink .title{
	height:26px;
	line-height:26px;
	background:url(../images/flink_title_bg.gif) repeat-x;
}
.flink .title dl dt{
	width:200px;
	float:left;
	line-height:26px;
	text-indent:20px;
	font-weight:bold;
	letter-spacing:2px;
	color:#666666;
}
.flink .title dl dd{
	color:#AAA;
	float:right;
	margin-right:10px;
	display:inline;
}
.flink .title dl dd a{
	color:#666666;
}
.flink .flinkcon{
	width:880px;
	margin:0px auto 0px;
	overflow:hidden;
	width:880px;
	padding-bottom:10px;
}
.flink .flinkcon a{
	color:#666666;
	display:block;
	float:left;
	height:15px;
	line-height:15px;
	padding-right:12px;
	padding-left:12px;
	margin:10px 0px 0px -1px;
	white-space:nowrap;
	border-left:1px solid #EEE;
}

