body {
	background-image: url(body_bg.jpg);
	background-repeat: repeat-x;
	background-position: 0px 30px;
	background-color: #FEEDF5;
	color:#666;
}
a:link, a:visited, .linkFunc {
	color:#BE3A61;
	text-decoration:none;
}
a:hover, a:active {
	text-decoration:underline;
}
a.linkStrong, .linkStrong {
	color:#BE3A61;
	font-weight: bold;
}
.colorWeak, a.colorWeak {
	color:#999;
}
a.linkName, .linkName {
	color:#E3829E;
}
a:link.linkText, .linkText {
	color:#BE3A61;
}
.imgBorder {
	border:1px solid #F0D8DF;
}
/* 按钮 */
.btn {
	color:#6A6A6A;
}
.btnStress {
	color:#E04371;
}
.btnWord2 {
	width:48px;
	height:18px;
	line-height:18px;
	background:url("btn_word2.gif") no-repeat;
}
.btnWord2Stress {
	width:45px;
	height:18px;
	line-height:18px;
	background:url("btn_word2_stress.gif") no-repeat;
}
.btnWord4, .btnWord4Stress {
	width:75px;
	height:18px;
	line-height:16px;
	background:url("btn_word4.gif") no-repeat;
}
.btnWord6, .btnWord6Stress {
	width:98px;
	height:18px;
	line-height:16px;
	background:url("btn_word6.gif") no-repeat;
}
.btnPublish {
	width:102px;
	height:24px;
	line-height:20px;
	background:url("btn_publish.gif") no-repeat;
}
/* 首页按钮 */
.btnJoin, .btnLogin, .btnManage, .btnInvite {/*圈子加入、登录、管理、邀请*/
	background:url("btn_index.gif") no-repeat;
	text-align:center;
	padding-right:9px;
	width:70px;
	height:20px;
	color:#6A6A6A;
	margin-top: 3px;
	margin-right: auto;
	margin-bottom: 3px;
	margin-left: auto;
}
/*圈子*/
#gInfo h1 {
	color: #BE3A61;
}
#gInfo h1 em {
	color: #666666;
}
/*圈子更多描述*/
#gInfo .gDescMore {
	color: #BE3A61;
}
/* 头部标题颜色样式 S */
.banner {
	background-image: url("banner_1.jpg");
	background-repeat: no-repeat;
}
.banner h1, .banner h2, .banner h2 a:link, .banner h2 a:visited {
	color:#BE3A61;
}
/* 头部标题颜色样式 S */

/* 栏目颜色样式 S */
#subNav {
	background-image: url(subnav_bg.gif);
	background-repeat: repeat-x;
	height: 28px;
	line-height: 28px;
}
#pages {
	padding-left:9px;
	background-image: url(pages_bg.gif);
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 28px;
	height: 28px;
}
#pages em {
	font-size:14px;
	padding-right: 1em;
	padding-left: 1em;
}
#manage {
	line-height: 28px;
	background-image: url(manage_bg.gif);
	background-repeat: no-repeat;
	background-position: right center;
	height: 28px;
}
#manage a:link, #manage a:visited {
	background-image: url(btn_index.gif);
	background-repeat: no-repeat;
	background-position: left center;
	height: 28px;
	width: 81px;
	display: block;
	float: left;
	text-align: center;
	line-height: 28px;
}
/* 栏目颜色样式 E */

/* 模块颜色样式 S */
.module .top em, .module .top em a:link, .module .top em a:visited {
	color:#D93867;
}
.module .top {
	height:26px;
	background:url("module_top.gif") repeat-x;
}
.module .top .t_l {
	width:4px;
	height:26px;
	background:url("tl_bg.gif") no-repeat;
}
.module .top .t_r {
	width:4px;
	height:26px;
	background:url("tr_bg.gif") no-repeat;
}
.module .mid .m_l {
	border-left:1px solid #F9CBD6;
}
.module .mid .m_r {
	border-right:1px solid #F9CBD6;
}
.module .bottom {
	height:4px;
	background:url("modole_bottom.jpg") repeat-x bottom;
}
.module .bottom .b_l {
	background:url("bl_bg.jpg") no-repeat;
	width:4px;
	height:4px;
}
.module .bottom .b_r {
	background:url("br_bg.jpg") no-repeat;
	width:4px;
	height:4px;
}
.module, .module .mid .content {
	background:#fdfeff none repeat scroll 0%;
}
/* 模块颜色样式 E */

/* 文章列表颜色样式 S */
#catagory dd {
	background:url("dot.jpg") no-repeat left center
}
a.linkName, .linkName {
	color:#E3829E
}
a:link.linkText, .linkText {
	color:#BE3A61
}
a:visited.linkText {
	color:#898888
}
/* 文章列表颜色样式 E */
/* 圈主 S */
#host #p_w li a:link, #host #p_w li a:visited {
	margin:0 9px;
}
/* 圈主 E */
/* 圈子留言 S */
#write li {
	padding:6px 0;
	overflow:hidden;
	border-bottom:1px dashed #E6E6E6;
}
.writeBox1 {
	line-height:20px;
	padding:3px 9px;
	padding-bottom:0px;
}
.writeBox2 {
	width:85%;
	text-align:right;
}
/* 圈子留言 E */
#blogRreply {/* 回复偷头 E */
	background-color:#F6F9FE;
	border-top:1px solid #C0D0DD;
	border-bottom:1px solid #C0D0DD;
}
/*留言*/
.writeTitle {
	font-size:12px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-top:10px;
	width:96%;
}
.writeList li {
	padding-left:15px;
}
.writeList span img {
	width:30px;
	height:30px;
	cursor:pointer;
}
.writeList .box_2 {
	width:100px;
	float:right;
}
.writeList .box_2 span {
	float:right;
}
#writeInput {
	width:80%;
	padding:10px 0;
	padding-left:110px;
}
.write_bo{
	font-weight:bold;
}
.write_bottom a {
	text-decoration:none;
}
#writeImg {
	height:20px;
	padding-top:20px;
	padding-right:100px;
	text-align:center;
}
#writeImg input {
	cursor:pointer;
}
/* 留言 E */
/* 帖子页 S */
#forum_topic {
	background:#fff;
}
#bbs_2 #fy_bar {
	margin-top:0;
}
#list {
	border-bottom:1px solid #ccc;
	margin-right: -15px;
	margin-left: -15px;
}
#list table {
	border-top:1px solid #ccc;
	border-collapse:collapse;
	background:#fff;
}
#list thead {
	height:17px;
}
#list thead {
	background:#F5F9FF;
	text-align:left;
}
#list thead td {
	padding-left:13px;
	border-bottom:1px solid #D5DDE2;
	line-height: 25px;
	height: 25px;
}
#list thead td img {
	vertical-align:-2px!important;
	vertical-align:-1px;
	margin-top:4px;
}
#list tbody {
	vertical-align:top;
	text-align:left;
	width:100%;
}
#list tbody th, #list tfoot th {
	border-right:1px solid #ccc;
	text-align:left;
}
#list tbody th {
	width:80px;
	padding:16px 24px 48px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:116px;
}
#list tbody td {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:10px;
}
#list tbody td div {
	width:556px!important;
	width:550px;
}
#list tbody th img {
	padding:2px;
	cursor:pointer;
}
#list tbody h1 {
	font-size:12px;
	line-height:26px;
	height:26px;
	word-break:break-all;
	word-warp:break-word;
	overflow:hidden;
	width:79px;
}
#list tbody h2 {
	font-size:12px;
	font-weight:normal;
	line-height:14px;
	margin:0px;
	height:14px;
}
#list tfoot {
	height:25px;
}
#list tfoot th {
	font-weight:normal;
	text-align:center;
}
#list tfoot td {
	text-align:left;
}
#list tfoot td span {
	float:right;
	padding-right:15px;
}
#list tfoot td a {
	font-size:12px;
}
#list tfoot td em {
	margin-left:14px;
	font-style:normal;
	font-style:normal!important;
	font-size:12px;
	line-height:25px;
}
#forum_topic #fy_bar {
	margin:1px 0;
}
#apply {
height:auto!imporatant;
	height:300px;
	margin-right: -15px;
	margin-left: -15px;
}
#apply table {
	width:100%;
	border-collapse:collapse;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
#apply table thead {
	background:#F7FAFF;
}
#apply table thead th {
	width:132px;
	height:47px;
}
#apply table thead th, #apply table tbody th {
	text-align:right;
	border-top:1px solid #ccc;
	font-weight:normal;
}
#apply table thead td, #apply table tbody td {
	padding-left:32px;
	border-top:1px solid #ccc;
}
#apply table thead input {
	width:442px;
	height:18px;
	border:1px solid #A5AEB5;
	cursor:auto;
}
#apply table tbody, #apply table tfoot {
	background:#fff;
}
#apply table tbody th {
	padding-left:0!important;
	padding-left:53px;
	height:180px;
}
#apply table tbody textarea {
	width:440px;
	height:150px;
	word-wrap:break-word;
	word-break:break-all;
	font-size:12px;
}
#apply table tfoot th {
	height:43px;
}
#apply table tfoot th, #apply table tbody td {
	border-top:1px solid #ccc;
}
#apply table tfoot td {
	text-align:left;
	padding-left:210px;
	border-top:1px solid #ccc;
}
/* 帖子页 E */
/* 快速回复 S */
#apply table#forum_fast td.forum_fast_th input, #apply table#branch_fast td.branch_fast_th input {
	width:448px;
	height:18px;
	border:1px solid #A5AEB5;
	cursor:text;
	color:#414141;
}
/* 快速回复 E */
