@charset "utf-8";
/*----------全局*/
*{
	padding:0px;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
body{
	font-size:12px;
}
ul{
	list-style:none;
}
img{
	border:0px;
}
a{
	color:#444;
}
a:hover{
	color:#F30;
	text-decoration:none;
}

.cbody{
	width:900px;
	margin:0 auto;
}
.margintop{
	margin-top:6px;
}
.floatclear{
	clear:both;
}
input,select,img{
	vertical-align:middle;
	font-size:12px;
}

/*----------顶部全站导航*/
.sitenav{
	height:29px;
	background:url(../images/sitenav_bg.gif) repeat-x;
	overflow:hidden;
}
.sitenav ul{
	overflow:hidden;
	float:right;
	margin:8px 10px auto;
	display:inline;
}
.sitenav ul li{
	float:left;
	margin-left:-1px;
	border-left:1px solid #E3E3E3;
}
.sitenav ul li a{
	float:left;
	padding-left:10px;
	padding-right:10px;
	display:block;
	color:#666666;
	height:13px;
	text-decoration:none;
	white-space:nowrap;
}
.sitenav ul li a:hover{
	color:#FF3300;
}

/*----------头部LOGO*/
.toplogo{
	height:50px;
}
.toplogo .logobox{
	width:300px;
	float:left;
}
.toplogo .logoright{
	float:right;
	margin:9px 10px auto;
}
.toplogo .logoright ul{
	height:33px;
	background:#FFFEEC;
	border:1px solid #FFF7BF;
	float:left;
	overflow:hidden;
}
.toplogo .logoright ul li{
	float:left;
}
.toplogo .logoright ul li a{
	height:33px;
	line-height:33px;
	display:block;
	padding-left:18px;
	padding-right:18px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color:#666666;
	float:left;
}
.toplogo .logoright ul li a:hover{
	color:#000;
	background:#FFF7BF;
}

/*----------顶部搜索*/
.topbox{
	height:41px;
	background:url(../images/topmenu_bg.gif) repeat-x;
	overflow:hidden;
}
.topbox .searchbox{
	float:left;
	height:41px;
	background:url(../images/searchbox_bg.gif) 0px 5px  repeat-x;
}
.topbox .searchbox dl{	
	float:left;
	display:block;
	padding-right:8px;
	background:url(../images/searchbox_right.gif) right 5px no-repeat;
}
.topbox .searchbox dl dd{
	float:left;
	display:block;
	height:41px;
}
.topbox .searchbox dl dd.sboxleft{
	width:38px;
	background:url(../images/searchbox_left.gif) no-repeat;
}
/*----------搜索:关键字*/
.topbox .searchbox dl dd.txtbox{
	width:180px;
}
.topbox .searchbox dl dd.txtbox input{
	border:0px;
	margin:11px 0px 0px 7px;
	font-size:14px;
	letter-spacing:2px;
	width:172px;
	color:#666666;
}
.topbox .searchbox dl dd.selectbox{
	float:left;
}
.topbox .searchbox dl dd.selectbox select{
	margin:10px 0px 0px 2px;
}
/*----------提交*/
.topbox .postbox{
	float:left;
	padding-top:6px;
}
.topbox .postbox input.sbut{
	width:68px;
	height:28px;
	border:0px;
	background:url(../images/searchbox_but1.gif) no-repeat;
	letter-spacing:6px;
	font-weight:bold;
	color:#555;
	float:left;
	margin-left:7px;
}
.topbox .postbox a.pbut{
	width:88px;
	height:27px;
	float:left;
	display:block;
	margin-left:7px;
	background:url(../images/searchbox_but2.gif) center top  no-repeat;
	line-height:27px;
	text-align:center;
	text-decoration:none;
	letter-spacing:3px;
	font-weight:bold;
	color:#F30;
}
.topbox .postbox a.pbut:hover{
	color:#FFF;
	background-position:center bottom;
}
.topbox .hotkey{
	height:41px;
	float:right;
	background:url(../images/topmenu_right.gif) top right no-repeat;
	padding-right:10px;
}
.topbox .hotkey strong{
	height:41px;
	line-height:41px;
	display:block;
	background:url(../images/searchbox_sr.gif) left no-repeat;
	padding-left:14px;
	color:#930;
	float:left;
}
.topbox .hotkey a{
	line-height:41px;
	margin-left:5px;
	color:#C60;
}

/*----------主内容*/
.main{
	
	
}

/*-------------------------分页*/
.pages{
	width:680px;
	height:25px;
	margin:12px auto 0px;
	clear:both;
	background:#F7F7F7;
	border-bottom:1px solid #FFF;

}
.pages .pcount{
	display:inline;
	padding-right:10px;
	padding-left:10px;
	float:left;
	border-right:2px solid #CCC;
	line-height:13px;
	margin:6px 20px 0px 2px;
	font-weight:bold;
	color:#3366CC;
	font-size:11px;
}
.pages .plist{
	float:left;
	padding-top:3px;
	line-height:17px;
}
.pages .plist strong{
	color:#FFF;
	display:block;
	float:left;
	padding-left:8px;
	padding-right:8px;
	background:#F60;
	border:1px solid #C33;
	margin: 0px 3px 0px 0px;
}
.pages .plist a{
	display:block;
	height:17px;
	float:left;
	padding-left:8px;
	padding-right:8px;
	border:1px solid #DDD;
	background:#FFF;
	text-decoration:none;
	margin-right:2px;
	color:#000;
}
.pages .plist a:hover{
	color:#FF0000;
}



/*-------------------------底部:版权信息*/
.footer{
	clear:both;
	border-top:1px solid #EEE;
}
.footer .copyright{
	width:900px;
	text-align:center;
	color:#666666;
	line-height:21px;
	letter-spacing:1px;
	margin:6px auto;
}
.footer .copyright span{
	color:#669933;
}

.footer .slogo{
	text-align:center;
}
