/*------------------------输入框------------------------*/
input{
	vertical-align:middle;
	margin-right:3px;
	font-size:12px;
}
textarea{
	vertical-align:top;
	font-size:12px;
	line-height:156%;
	border:1px solid #AAA;
	padding:3px;
	letter-spacing:1px;
	word-break:break-all; 
	overflow-y:auto;
}
.textipt{/*文本输入框*/
	padding:4px;
	border:1px solid #AAA;
	font-size:12px;
	color:#000;
}

.textipt_on{/*文本输入框鼠标悬停*/
	border:1px solid #F90;
}




/*------------------------分割线------------------------*/
hr{
	height:1px;
	line-height:1px;
	overflow:hidden;
	border-width:1px 0px 0px 0px ;
	border-top:1px solid #E6E6E6;/*兼容Opera*/
 }
hr:empty {/*兼容Firefox*/
	margin:8px 0px 7px 0px !important;
	margin:0px;
}

/*------------------------其他------------------------*/
small{
	font-size:12px;
}

.moncolor td{
	background:#FFC;
}

/*------------------------表格模型------------------------*/
.twbox{
	border:1px solid #DDD;
	font-size:12px;
	overflow:hidden;
	margin:8px auto;

}

/*表格头*/
.twbox thead tr td{
	background:url(body_title_bg.gif) -1px -1px repeat-x;
	height:31px;
	line-height:31px;
	text-indent:10px;
}

.twbox thead tr td strong{/*表格头:标题*/
	letter-spacing:2px;
	margin-right:14px;
	color:#FFF;
	font-size:14px;
}


.twbox thead tr td span{/*表格头:介绍*/
	color:#CDA;
}


.twbox thead tr td  p{/*表格头:链接区域*/
	height:31px;
	display:inline;
	float:right;
	margin:-31px 10px 0 0;
	overflow:hidden;
}
.twbox thead tr td  p *{/*表格头:全部向右浮动*/
	float:right;
}
.twbox thead tr td a.thlink{/*表格头:链接样式*/
	color:#FFF;
}
.twbox thead tr td a.thlink:hover{
	color:#FFFF00;
	text-decoration:none;
}

/*表格内容*/
.twbox tbody {
	overflow:hidden;
	text-align:left;
}

.twbox tbody tr th{/*表格内容:分类*/
	background:#EFF7D8;
	color:#6D8A4F;
	line-height:25px;
	height:25px;
	text-indent:30px;
	font-weight:normal;
	border-bottom:1px solid #DEC;
	letter-spacing:2px;
}

.twbox tbody tr td{/*表格内容:列表*/
	padding:7px;
	border-bottom:1px solid #EEE;
	color:#333;
	vertical-align:top;
}


.twbox tbody tr td p{/*表格内容:列表:段落*/
	line-height:21px;
}
.twbox tbody tr td p strong img{/*表格内容:列表:标题图标垂直居中对齐*/
	vertical-align:middle;
}
.twbox tbody tr td img{ /*表格内容:列表:常规图片垂直顶部对齐*/
	vertical-align:top;
	margin:0px 10px 5px 0px;

}
.twbox tbody tr td small{ /*表格内容:列表:注释性文字*/
	color:#888;
}

/*表格底*/
.twbox tfoot tr td{
	padding:10px;
	line-height:25px;
	text-align:center;
/*	border-top:1px solid #666;*/
}
.twbox tfoot tr td p{
	line-height:21px;
	margin-bottom:10px;
}



/*------------------------ 按钮------------------------*/
input.but{
	height:26px;
	padding-left:6px;
	padding-right:6px;
	line-height:26px;
	font-weight:bold;
	letter-spacing:1px;
	color:#FFF;
	background-color:#FC3;
