<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>安装程序 - 织梦内容管理系统
		<?=$verMsg;?>
	</title>
	<link rel="icon" href="/favicon.ico" />
	<!-- CSS FILES -->
	<link rel="stylesheet" type="text/css" href="/assets/pkg/uikit/css/uikit.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/install.dede.css" />
</head>

<body>
	<!--HEADER-->
	<header id="install-top">
		<div class="uk-container uk-container-dede">
			<nav class="uk-navbar-transparent uk-light" data-uk-navbar>
				<div class="uk-navbar-left">
					<span class="uk-navbar-item uk-logo">
						<img src="/assets/img/dedecms_logo.png" />
						&nbsp;
						<?=$verMsg;?> &nbsp;安装程序
					</span>
				</div>
				<div class="uk-navbar-right">
					<ul class="uk-navbar-nav">
						<li><a href="http://www.DedeCMS.com" class="install-link" target="_blank">官方网站</a></li>
						<li><a href="http://bbs.DedeCMS.com" target="_blank">技术论坛</a></li>
						<li><a href="https://github.com/dedecms" target="_blank">GITHUB</a></li>
						<li><a href="http://help.DedeCMS.com" target="_blank">帮助</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!--/HEADER-->

	<div class="uk-container uk-container-dede">
		<div uk-grid>
			<!--安装步骤-->
			<div id="install-menu" class="uk-width-1-4@m">
				<div class="uk-card uk-card-small uk-card-default">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small uk-text-small" data-uk-grid="">
							<div class="uk-width-expand uk-first-column">
								<span class="cat-txt">安装步骤</span>
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<ul class="uk-tab-left" uk-tab>
							<li class="uk-disabled"><a href="#">许可协议</a></li>
							<li class="uk-active"><a>环境检测</a></li>
							<li class="uk-disabled"><a>参数配置</a></li>
							<li class="uk-disabled"><a>正在安装</a></li>
							<li class="uk-disabled"><a>安装完成</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/安装步骤-->

			<div id="install-container" class="uk-width-3-4@m">

				<div class="uk-card uk-card-small uk-card-default card-margin-bottom ">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small uk-text-small" data-uk-grid="">
							<div class="uk-width-expand uk-first-column">
								<span class="cat-txt">服务器信息</span>
							</div>
						</div>
					</div>
					<div class="card-padding-0px">
						<table class="uk-table uk-table-small uk-table-striped card-padding-0px">
							<thead>
								<tr>
									<th>参数</th>
									<th>值</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><strong>服务器域名</strong></td>
									<td>
										<?php echo $sp_name; ?>
									</td>
								</tr>
								<tr>
									<td><strong>服务器操作系统</strong></td>
									<td>
										<?php echo $sp_os; ?>
									</td>
								</tr>
								<tr>
									<td><strong>服务器解译引擎</strong></td>
									<td>
										<?php echo $sp_server; ?>
									</td>
								</tr>
								<tr>
									<td><strong>PHP版本</strong></td>
									<td>
										<?php echo $phpv; ?>
									</td>
								</tr>
								<tr>
									<td><strong>系统安装目录</strong></td>
									<td>
										<?php echo DEDEROOT; ?>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="uk-card uk-card-small uk-card-default card-margin-bottom">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small uk-text-small" data-uk-grid="">
							<div class="uk-width-expand uk-first-column">
								<span class="cat-txt">系统环境检测</span>
							</div>
						</div>
					</div>
					<div class="card-padding-0px">
						<div class="uk-alert-warning install-card-margin" uk-alert>
							<p>系统环境要求必须满足下列所有条件，否则系统或系统部份功能将无法使用。</p>
						</div>
						<table width="726" border="0" align="center" cellpadding="0" cellspacing="0"
							class="uk-table uk-table-small uk-table-striped card-padding-0px install-card-margin">
							<thead>
								<tr>
									<th>需开启的变量或函数</th>
									<th>要求</th>
									<th>实际状态及建议</th>
								</tr>
							</thead>

							<tr>
								<td>allow_url_fopen</td>
								<td align="center">On </td>
								<td>
									<?php echo $sp_allow_url_fopen; ?> <small>(不符合要求将导致采集、远程资料本地化等功能无法应用)</small>
								</td>
							</tr>
							<tr>
								<td>safe_mode</td>
								<td align="center">Off</td>
								<td>
									<?php echo $sp_safe_mode; ?> <small>(本系统不支持在<span
											class="STYLE2">非win主机的安全模式</span>下运行)</small>
								</td>
							</tr>

							<tr>
								<td>GD 支持 </td>
								<td align="center">On</td>
								<td>
									<?php echo $sp_gd; ?> <small>(不支持将导致与图片相关的大多数功能无法使用或引发警告)</small>
								</td>
							</tr>
							<tr>
								<td>MySQL 支持</td>
								<td align="center">On</td>
								<td>
									<?php echo $sp_mysql; ?> <small>(不支持无法使用本系统)</small>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="uk-card uk-card-small uk-card-default">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small uk-text-small" data-uk-grid="">
							<div class="uk-width-expand uk-first-column">
								<span class="cat-txt">目录权限检测</span>
							</div>
						</div>
					</div>
					<div class="card-padding-0px">
						<div class="uk-alert-warning install-card-margin" uk-alert>
							<p>系统要求必须满足下列所有的目录权限全部可读写的需求才能使用，其它应用目录可安装后在管理后台检测。</p>
						</div>
						<table width="726" border="0" align="center" cellpadding="0" cellspacing="0"
							class="uk-table uk-table-small uk-table-striped install-card-margin">
							<thead>
								<tr>
									<th>目录名</th>
									<th>读取权限</th>
									<th>写入权限</th>
								</tr>
							</thead>
							<tbody>
								<?php
													foreach($sp_testdirs as $d)
													{
													?>
								<tr>
									<td>
										<?php echo $d; ?>
									</td>
									<?php
										      		$fulld = DEDEROOT.str_replace('/*','',$d);
										      		$rsta = (is_readable($fulld) ? '<font color=green>[√]读</font>' : '<font color=red>[×]读</font>');
											    		$wsta = (TestWrite($fulld) ? '<font color=green>[√]写</font>' : '<font color=red>[×]写</font>');
											    		echo "<td>$rsta</td><td>$wsta</td>\r\n";
										      ?>
								</tr>
								<?php
													}
													?>
							</tbody>
						</table>
					</div>
				</div>
				<div class="uk-card-footer">
					<div class="uk-grid uk-flex uk-flex-middle">
						<div class="uk-width-expand uk-text-small uk-first-column">
							<input type="button" class="uk-button" value="后退"
								onclick="window.location.href='index.php';" />
						</div>
						<div class="uk-width-auto uk-text-right">
							<input type="button" class="uk-button uk-button-primary " value="继续"
								onclick="window.location.href='index.php?step=3';" />
						</div>

					</div>
				</div>
				<footer class="uk-section ">
					<div class="uk-container uk-text-small uk-text-center">
						Powered by <a href="http://www.dedecms.com" title="织梦内容管理系统(DedeCMS)--国内专业的PHP网站管理系统，轻松建站的利器。"
							target="_blank"><strong>DedeCMS
							</strong></a> &copy; 2004-2020 <a href="http://www.desdev.cn/"
							target="_blank">上海卓卓网络科技有限公司</a>
						(DesDev Inc.)
					</div>
				</footer>
			</div>

		</div>

		<!--/安装步骤-->

		<!-- JS FILES -->
		<script src="/assets/pkg/uikit/js/uikit.min.js"></script>
		<script src="/assets/pkg/uikit/js/uikit-icons.min.js"></script>
</body>

</html>