<div class="logo" onclick="location='/'" title="网站首页"> </div>
<div class="welcome">
  <?php
if($uid)
{
	echo '欢迎您：'. $username;
	echo " <a href='../member/index.php'>会员中心</a>";
	echo " <a href='myask.php'>我的问题</a>";
	echo " <a href=\"../member/index.php?uid=$username\" target='_blank'>我的空间</a>";
	echo '  <a href="../member/index_do.php?fmdo=login&dopost=exit">退出</a>';
}
else
{
	echo '您好，请您先 <a href="../member/login.php?gourl=../ask/">登陆</a> 或者 <a href="../member/reg_new.php">注册</a>';
}
?>
</div>