<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?php echo $charset;?>" />
<link href="template/default/style/ask_base.css" rel="stylesheet" type="text/css" />
<title><?php echo $cfg_ask_sitename;?>-问题补充 - powered by dedecms</title>
<script language="javascript">
function checkform(theform,own) {
	if(theform.upreward.value > own) {
		alert("提高悬赏的积分不能大于你拥有的积分，请重新设置悬赏积分");
		return false;
	}
}
</script>
<body>
<div style="width:300px;padding:30px 0px 0px 0px;margin-left:50px">
  <form method="post" name="answer" action="post.php?action=upreward&amp;id=<?php echo $id; ?>" onsubmit="return checkform(this,<?php echo $scores; ?>);">
    <input type="hidden" name="step" value="2" />
    <b>提高悬赏：</b>
    <div style="height:28px;" class="f14"> 把悬赏分改为：
      <select name="upreward">
        <option value=5>5</option>
        <option value=10>10</option>
        <option value=15>15</option>
        <option value=20>20</option>
        <option value=30>30</option>
        <option value=50>50</option>
        <option value=80>80</option>
        <option value=100>100</option>
      </select>
      (您目前的积分：<?php echo $scores; ?>) 。 </div>
    <input type="submit"  value="提交" />
  </form>
</div>
</body>
</html>
