<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>搜索结果 - powered by dedecms</title>
<link href="template/default/style/ask_base.css" rel="stylesheet" type="text/css" />
<link href="template/default/style/ask_list.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--顶部全站导航-->
<div class="headTop">{dede:include file='headmenu.htm' /}</div>
<div class="toplogo cbody margintop">
  <div class="logobox"><img src="template/default/images/toplogo.gif" width="279" height="43" alt="问答系统" /></div>
</div>
<div class="topbox cbody margintop">
  <div class="menu">
    <ul>
      <li><a href="./">问答首页</a></li>
      <li><a href="type.php">全部分类</a></li>
      <li><a href="browser.php?lm=1">精彩问题</a></li>
      <li class="menuright"></li>
    </ul>
  </div>
  <div class="search">
    <form action="search.php?action=search" method="post">
      <input type="text" name="q" value="<?php echo htmlspecialchars($q); ?>" class="searchinput"/>
      <input name="" type="submit" value="搜索答案" class="submit" />
      <input onclick="location.href='post.php'" name="按钮" type="button" class="postqa" value="我要提问" />
    </form>
  </div>
</div>
<div class="main cbody margintop">
  <!--左侧列表-->
  <div class="pleft">
    <!--位置导航-->
    <div class="thisplace"> <a href="./">首页</a> &gt; 搜索结果 </div>
    <!--列表-->
    <div class="leftask">
      <div class="asknav">
        <ul>
          <li><a href="#" class="thisclass">搜索结果</a></li>
        </ul>
      </div>
      <div class="askbox">
        <dl class="asktitle">
          <dd class="biaoti">标题</dd>
          <dd class="jifen">悬赏</dd>
          <dd class="zhuangtai">状态</dd>
          <dd class="huida">回答数</dd>
          <dd class="shijian">时间</dd>
        </dl>
        {dede:datalist}
        <?php
if($fields['status'] == 1) $fields['status'] = 'qa_ico_2.gif';
else if($fields['status'] == 2) $fields['status'] = 'qa_ico_2.gif';
else if($fields['status'] == 3) $fields['status'] = 'qa_ico_2.gif';
else $fields['status'] = 'qa_ico_1.gif';

$fields['dateline'] = gmdate('m-d', $fields['dateline'] + ($timeoffset * 3600));

$fields['title'] = cn_substr($fields['title'],40);
$fields['title'] = str_replace($q,'<b style="color:red;">'.$q.'</b>',$fields['title']);

if($fields['tid2'] != 0) $fields['typedata'] = "<a href='browser.php?tid2={$fields['tid2']}'>{$fields['tid2name']}</a>";
else $fields['typedata'] = "<a href='browser.php?tid={$fields['tid']}'>{$fields['tidname']}</a>";

?>
        <dl class="asklist">
          <dd class="biaoti"><span>[{dede:field.typedata /}]</span><a href="question.php?id={dede:field.id /}">{dede:field.title /}</a></dd>
          <dd class="jifen"><img src="template/default/images/ico_23.gif" width="12" height="13" /> {dede:field.reward /}</dd>
          <dd class="zhuangtai"><img src="template/default/images/{dede:field.status /}" width="44" height="19" /></dd>
          <dd class="huida">{dede:field.replies /}</dd>
          <dd class="shijian">{dede:field.dateline /}</dd>
        </dl>
        {/dede:datalist}
        <div class="pages"> {dede:pagelist /} </div>
      </div>
    </div>
  </div>
  <!--右侧列表-->
  <div class="pright">
    <!--快到期问题-->
    <div class="rlist ">
      <div class="rtitle">快到期问题</div>
      <div class="rbox wtlist">
        <ul>
          {dede:ask row='8' titlelen='40' sort='expiredtime'}
          <li><a href="question.php?id={dede:field.id/}">{dede:field.title /}</a></li>
          {/dede:ask}
        </ul>
      </div>
    </div>
    <!--总积分排行-->
    <div class="rlist margintop">
      <div class="rtitle">总积分排行</div>
      <div class="rbox paihang">
        <dl>
          {dede:memberlist orderby='scores' row='12'}
          <dd><span class="name"><a href="../member/index.php?uid={dede:field.userid /}">{dede:field.userid /}</a></span><span class="jifen"><img src="template/default/images/ico_23.gif" /> {dede:field.scores /}</span></dd>
          {/dede:memberlist}
        </dl>
      </div>
    </div>
  </div>
  <div class="floatclear">
    <!--清除浮动-->
  </div>
</div>
{dede:include file='foot.htm' /}
</body>
</html>
