html {
  font-size: 12px;
}

.uk-alert,
.uk-table {
  margin: 0px;
  font-size: 12px;
}

.card-margin-bottom {
  margin-bottom: 20px;
}
.uk-card {
  border-top: 2px solid;
  position: relative;
  transition: box-shadow 0.15s ease-out;
  border-radius: 3px;
  border-top-color: #f98020;
}

.uk-card .uk-inline {
  z-index: 99;
}
.uk-card .uk-card-footer {
  padding: 0.55rem 1rem;
}
.uk-card .uk-card-header {
  padding: 0.55rem 1rem;
}
.uk-card .cat-txt {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
}
.uk-card-body,
.dede-padding {
  padding: 0px;
}
.uk-logo img {
  width: 183px;
}
.uk-logo {
  color: aliceblue;
}
.uk-logo:hover {
  color: aliceblue;
}
#install-top {
  background-color: rgb(50, 51, 54, 0.96);
  border-bottom: 2px solid;
  border-bottom-color: #f98020;
}
header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
#login {
  margin-top: 200px;
}
.uk-button-primary {
  background-color: #e2833c;
  color: #fff;
  border: 1px solid transparent;
}
.uk-button-primary:focus, 
.uk-button-primary:hover {
  background-color: #eea86f;
  color: #fff;
}