html {
  background-color: #fff;
  font-size: 12px;
}
.uk-table {
  font-size: 12px;
}
.uk-card-small .uk-card-body,
.uk-card-small.uk-card-body {
  padding: 0px;
}

.card-margin-bottom {
  margin-bottom: 20px;
}

.uk-card {
  position: relative;
  transition: box-shadow 0.15s ease-out;

}

#dede-card-header,
.uk-card-header{
  height: 35px;
  background-color: #fff;
  border-top: 2px solid;
  border-top-color: #f98020;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  justify-content: space-between;

}
#dede-table-body{
  position: relative;
  top: -50px;
}

#dede-table-header{
  box-shadow: none;
}
.uk-grid-column-small, .uk-grid-small {
  margin-left: -15px;
  margin-top: 7px;
}
#oswindos-container{
  min-width: 960px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 35px;
}
thead{
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.uk-card .uk-inline {
  z-index: 50;
}
.uk-card .uk-card-footer {
  padding: 0.55rem 1rem;
}
.uk-card .uk-card-header {
  padding: 0.55rem 1rem;
}
.uk-card .cat-txt {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.01em;
}
.uk-card-body,
.dede-padding {
  padding: 0px;
}

.bar-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  background-color: rgba(33, 34, 36, 0.90);
  padding: 15px 0;
  left: 0;
  right: 0;
  z-index: 3;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  min-width: 1050px;
}
.e1e02{
  margin-right: 25px;
}
#dede-table-oswindow-body {
  position: relative;
  top: -1px;
  margin-bottom: 50px;
}

#dede-table-oswindow-code {
  position: relative;
  top: -1px;
}

#dede-oswindow-toolbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dede-oswindows-input{
  width: 280px;
}
.dede-file-input{
  display: flex;
  justify-content: space-between;
}
.dede-toolbar-icon{
margin-top: 7.5px;
margin-right: 9px;
}

.dede-card-navbar,
.dede-card-navbar >li>a{
  min-height: 30px;
}

#dede-dropdown-margin > .uk-margin{
  margin-bottom: 10px;
  margin-top: 0px;
  margin-top: 10px!important;
}
#dede-dropdown-margin > button{
  margin-top: 10px;
}

.uk-child-width-1-8 > * {
  width: 95px;
}

.uk-button-primary {
  background-color: #e2833c;
  color: #fff;
  border: 1px solid transparent;
}


.uk-button-primary:focus, 
.uk-button-primary:hover {
  background-color: #eea86f;
  color: #fff;
}


.uk-modal-dialog{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.uk-modal-header {
  height: 35px;
  padding: 0 20px;
  padding-top: 15px;
  border-top: 2px solid;
  border-top-color: #f98020;
  border-radius: 3px;
}
.uk-modal-title{
  font-size: 16px;
}

#modal-overflow .uk-alert {
  margin-top: 0px;
  margin-bottom: 0px;
}

#bottom_tooltip_prompt{
  position: relative;
  top: -16px;
  left:-28px;
}
#bottom_tooltip_dropdown{
  padding: 15px;
  width: 130px;
  min-width: 130px;
  border-top: 2px solid;
  border-top-color: #f98020;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: none;
}
.uk-navbar-dropdown{
  border-bottom: 2px solid;
  border-bottom-color: #f98020;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; 
}

.uk-checkbox{
  margin-top: 1px;
}

#no_image {
  background-color: rgb(219, 219, 219);
  width: 188px;
  height: 250px;
  color: rgb(139, 139, 139);
}