/* 圈子首页CSS */

/* -- 全局定位 --*/
* {
	margin:0px auto;
	padding:0px;
}
html, body {
	margin:auto;
	padding:0px;
	background-color:#fff;
	font-size:12px;
}
#container {
	margin:auto;
	width:100%;
	height:100%;
}
.clear {
	clear:both;
}
.bigfont {
	font-size:14px;
	font-weight:bold;
	color:#1a8dc2;
}
.bigfont a {
	color:#1a8dc2;
	text-decoration:none;
}
/* -- 头部定位 --*/
/* 顶部导航 add for Fangyu
-------------------------------------------------------------------*/
.headTop {
	background:url("../images/common/module_top.gif") repeat-x;
	width:100%;
	height:32px;
}
.headTop .logo {
	background:url("../images/common/module_top_logo.gif") no-repeat 20px 6px;
	width:200px;
	height:32px;
	float:left;
	cursor:pointer;
}
.headTop .welcome {
	color:#828282;
	height:32px;
	line-height:32px;
	padding-right:40px;
	text-align:right;
}
.headTop .welcome span a {
	color:#ee0000;
}
.headTop .welcome span a:hover {
	color:#000;
}
/* 频道头部 add for Fangyu
-------------------------------------------------------------------*/
.cbody {
	margin: 0px auto;
	width: 900px;
}

.margintop {
	margin-top: 6px;
}
.topbox {
	background: url(../images/topbox_bg.jpg) repeat-x;
	overflow: hidden;
	height: 39px;
}

.topbox .menu {
	background: url(../images/topbox_menu_bg.jpg) repeat-x;
	float: left;
	width: 300px;
	height: 39px;
}

.topbox .menu ul {
	display: block;
	padding-left: 13px;
	background: url(../images/topbox_menu_left.gif) no-repeat;
	height: 39px;
}

.topbox .menu ul li {
	float: left;
	list-style-type: none;
}

.topbox .menu ul li a {
	padding-right: 5px;
	display: block;
	padding-left: 5px;
	font-size: 14px;
	float: left;
	color: #666666;
	line-height: 33px;
	height: 39px;
	text-decoration: none;
}

.topbox .menu ul li.menuright {
	background: url(../images/topbox_menu_right.gif) no-repeat;
	float: right;
	width: 12px;
	height: 39px;
}

.topbox .search {
	background: url(../images/topbox_right.gif) no-repeat right 50%;
	float: right;
	width: 580px;
	padding-top: 4px;
	height: 35px;
}

.topbox .search .postqa {
	border-right: #7b94a2 1px solid;
	border-top: #7b94a2 1px solid;
	font-weight: bold;
	background: url(../images/ss_bg2.gif) #fff repeat-x center bottom;
	border-left: #7b94a2 1px solid;
	width: 82px;
	color: #f60;
	line-height: 25px;
	border-bottom: #7b94a2 1px solid;
	letter-spacing: 2px;
	height: 27px;
}

.topbox .search .searchinput {
	border-right: #79adc9 1px solid;
	padding-right: 0px;
	border-top: #619ebf 1px solid;
	padding-left: 10px;
	padding-bottom: 5px;
	border-left: #619ebf 1px solid;
	width: 300px;
	color: #666666;
	padding-top: 7px;
	border-bottom: #79adc9 1px solid;
}

.topbox .search .submit {
	border-right: #7baeca 1px solid;
	border-top: #7baeca 1px solid;
	font-weight: bold;
	background: url(../images/ss_bg1.gif) #fff repeat-x center bottom;
	border-left: #7baeca 1px solid;
	width: 82px;
	color: #069;
	line-height: 25px;
	border-bottom: #7baeca 1px solid;
	letter-spacing: 2px;
	height: 27px;
}










#header {
	margin:auto;
	width:100%;
	text-align:center;
}
#group_top {
	width:900px;
	height:50px;
}
.group_logo {
	background:url(../images/toplogo.jpg) no-repeat 0 10px;
	width:280px;
	height:50px;
	float:left;
	cursor:pointer;
}
.group_member {
	width:580px;
	height:20px;
	color:#1a8dc2;
	float:right;
	padding:10px 10px 0 0;
	text-align:right;
}
.group_member a {
	color:#ff72ae;
}
.group_member a:hover {
	color:#fff;
	background-color:#ff72ae;
	text-decoration:none;
}
.group_menu {
	width:590px;
	float:right;
}
.group_menu ul {
	list-style:none;
}
.group_menu li {
	font-size:14px;
	font-weight:bold;
	color:#1a8dc2;
	text-align:center;
	float:right;
	padding-left:10px;
	width:130px;
}
.group_menu li a {
	color:#1a8dc2;
	text-decoration:none;
}
.group_menu li a:hover {
	background:url(../images/group_menubg.gif) no-repeat 0 18px;
	width:80px;
	color:#fff;
	display:block;
}
#group_search {
	width:100%;
	background:url(../images/group_serachbg.gif) repeat-x;
	height:35px;
	line-height:35px;
	margin-bottom:2px;
}
.group_search_form {
	width:760px;
	height:35px;
}
.group_search_label {
	width:560px;
	height:27px;
	line-height:35px;
	float:left;
	color:#7bb0c8;
	padding-top:7px;
}
.group_label {
	border:1px solid #9ed7e8;
	background-color:#f3fcff;
	color:#9ed7e8;
	height:18px;
}
.group_button {
	background:url(../images/group_button.gif) repeat-x;
	width:48px;
	height:20px;
	border:0;
	color:#7bb0c8;
	line-height:20px;
}
.group_search_img {
	width:180px;
	height:27px;
	padding:8px 20px 0 0;
	float:right;
}
.group_search_imgbg {
	background:url(../images/group_serachimg.gif) repeat-x;
	width:104px;
	height:27px;
}
/* --中间部分-- */
#group_main {
	width:100%;
	margin:0 auto;
}
#group_main_middle {
	width:900px;
	border:1px solid #9ed7e8;
	margin-top:30px;
}
.group_main_title {
	border:1px solid #fff;
	color:#1a8dc2;
	height:28px;
	line-height:30px;
	text-indent:8px;
	background-color:#def5ff;
	font-weight:bold;
	text-align:left;
	font-size:14px;
}
.group_main_class {
	height:105px;
	background-color:#f5fcff;
	padding-top:15px;
	padding-left:30px;
}
.group_main_class1 {
	height:105px;
	background-color:#fff;
	padding-top:15px;
	padding-left:30px;
}
.group_main_list {
	width:234px;
	text-align:left;
	float:left;
	height:90px;
}
.group_main_list_img {
	width:110px;
	height:80px;
	float:left;
	padding:10px 0 0 10px;
}
.group_main_list_text {
	width:114px;
	height:90px;
	float:right;
}
.group_main_list_text01 {
	text-align:left;
	font-size:14px;
	font-weight:bold;
	color:#1a8dc2;
	height:20px;
	line-height:20px;
	margin-top:10px;
	float:left;
}
.group_main_list_text01 a {
	font-size:14px;
	font-weight:bold;
	color:#1a8dc2;
}
.group_main_list_text01 a:hover {
	color:#ff72ae;
}
.group_main_list_text02 {
	width:114px;
	text-align:left;
	color:#1a8dc2;
	height:60px;
	float:left;
}
.group_main_list_text02 ul {
	list-style:none;
}
.group_main_list_text02 li {
	width:57px;
	color:#1a8dc2;
	float:left;
	height:20px;
	padding-top:5px;
}
.group_main_list_text02 li a {
	color:#1a8dc2;
	text-decoration:none;
}
.group_main_list_text02 li a:hover {
	color:#ff72ae;
}
/*--底部--*/
#group_footer {
	width:100%;
	margin-top:20px;
}
.group_footer_main {
	width:760px;
	margin:auto;
	text-align:center;
}
.group_footer_main ul {
	list-style:none;
}
.group_footer_main li {
	color:#c3c3c3;
	height:20px;
	line-height:20px;
	width:760px;
	float:left;
}
.group_footer_main li a {
	color:#c3c3c3;
}
/* --------------------------------------------- 圈子分类 ----------------------------------------------------- */
.group_class_text {
	margin:auto 10px;
	text-align:left;
	border-bottom:1px dotted #CCCCCC;
	padding-top:10px;
	padding-left:20px;
}
.group_class_text ul {
	list-style:none;
	line-height:25px;
}
.group_class_text li {
	color:#1a8dc2;
	font-size:14px;
	float:left;
}
.group_class_text li a {
	color:#1a8dc2;
	text-decoration:none;
	padding-right:20px;
}
.group_class_text li a:hover {
	color:#ff72ae;
}
.group_class_text li span a {
	font-weight:bold;
	width:718px;
	float:left;
	text-decoration:none;
}
.group_more {
	color:#1a8dc2;
	text-align:right;
	padding-right:20px;
	height:40px;
	line-height:40px;
}
.group_more a {
	color:#1a8dc2;
	text-decoration:none;
}
.group_more a:hover {
	color:#ff72ae;
}
/* --------------------------------------------- 圈子分类列表 ----------------------------------------------------- */
.group_list_text {
	width:758px;
	text-align:left;
}
.group_list_title {
	width:900px;
	height:25px;
	background-color:#f5fcff;
	color:#1a8dc2;
	text-indent:20px;
	line-height:25px;
}
.group_list_title span {
	color:#999999;
}
.group_list_title a {
	color:#1a8dc2;
	text-decoration:none;
}
.group_list_title a:hover {
	color:#ff72ae;
}
.group_list_class {
	margin:auto 10px;
	padding-bottom:10px;
	border-bottom:1px dotted #9ed7e8;
}
.group_list_class_img {
	width:103px;
	height:103px;
	float:left;
	padding:17px 0 0 17px;
}
.group_list_class_text {
	width:638px;
	height:100px;
	float:right;
	padding-top:20px;
}
.group_list_class_text ul {
	list-style:none;
}
.group_list_class_text li {
	color:#1a8dc2;
	width:638px;
	float:left;
	line-height:20px;
}
.group_list_class_text li a {
	color:#1a8dc2;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.group_list_class_text li a:hover {
	color:#ff72ae;
}
.group_list_class_text li span {
	color:#999999;
}
/* --------------------------------------------- 圈子内页首页 ----------------------------------------------------- */
#group_class_top {
	background:url(../images/group_classtopbg.gif) repeat-x;
	height:47px;
}
.group_class_center {
	width:760px;
	margin:auto;
	height:47px;
}
.group_class_toplogo {
	background:url(../images/group_class_toplogo.gif) no-repeat;
	height:47px;
	width:150px;
	float:left;
}
.group_class_search {
	width:270px;
	float:left;
	height:37px;
	padding-top:10px;
}
.group_class_member {
	width:340px;
	float:left;
	height:47px;
	line-height:47px;
	color:#1a8dc2;
}
.group_class_member a {
	color:#ff72ae;
}
.group_class_member a:hover {
	color:#fff;
}
.group_class_topimg {
	background:url(../images/group_class_topimg.gif) no-repeat;
	width:760px;
	height:77px;
	padding-top:30px;
}
.group_class_name {
	font-size:14px;
	color:#fff;
	font-weight:bold;
	height:35px;
	width:160px;
	float:left;
	line-height:35px;
}
.group_class_join {
	width:180px;
	float:right;
	height:35px;
	padding-left:420px;
	line-height:35px;
}
.group_class_join a {
	background:url(../images/group_join.gif) no-repeat;
	height:35px;
	width:112px;
	display:block;
	text-indent:-9999px;
}
.group_class_imgbg {
	background:url(../images/group_mainbg1.gif) repeat-x;
	height:32px;
	width:740px;
	line-height:32px;
	text-align:right;
	padding-right:20px;
}
.group_class_imgbg a {
	color:#00547b;
	text-decoration:none;
}
#group_class_main {
	width:760px;
	margin-top:10px;
} /*-- 内页首页中间 --*/
#group_class_left {
	width:171px;
	margin-right:8px;
	float:left;
	height:100%;
}
#group_class_right {
	width:581px;
	float:right;
}
.group_classtitle_form {
	border:1px solid #a5daea;
	width:169px;
	height:100%;
	margin-bottom:6px;
}
.group_classtitle_bg {
	background:url(../images/group_class_title1.gif) no-repeat;
	width:169px;
	height:29px;
	line-height:29px;
	text-indent:15px;
	font-size:14px;
	font-weight:bold;
	color:#1a8dc2;
}
.group_class_formtext {
	width:169px;
	color:#00547a;
	height:100%;
	margin-bottom:6px;
}
.group_class_formtext dt {
	font-weight:bold;
	width:149px;
	float:left;
	height:20px;
	line-height:20px;
	text-indent:20px;
	margin-top:10px;
}
.group_class_formtext dd {
	color:#00547a;
	float:left;
	width:126px;
	height:20px;
	line-height:20px;
	text-indent:25px;
}
.group_class_formtext dd a {
	color:#00547a;
}
.group_class_formtext dd a:hover {
	color:#ff72ae;
}
.group_class_formtext ul {
	width:149px;
	text-align:left;
	margin-top:10px;
	list-style:none;
}
.group_class_formtext li {
	color:#777;
	line-height:20px;
	padding-left:20px;
}
.group_class_formtext li a {
	color:#777;
}
.group_class_formtext1 {
	width:169px;
	color:#00547a;
	height:100%;
	margin-bottom:6px;
}
.subtitle {
	width:169px;
	margin-top:10px;
	text-align:center;
}
.subtitle ul {
	list-style:none;
	display:inline;
}
.subtitle li {
	float:left;
	height:30px;
	display:block;
	width:48px;
	padding-left:20px;
	line-height:30px;
}
.subtitle li a {
	color:#00547a;
	text-decoration:none;
}
.subtitle li a:hover {
	background:url(../images/group_class_title2.gif) no-repeat 0 2px;
	width:48px;
	display:block;
}
.group_member_class {
	width:169px;
	text-align:left;
	margin-top:5px;
}
.group_member_img {
	background:url(../images/group_memberimg.gif) no-repeat;
	width:13px;
	height:100px;
	float:left;
	margin-left:10px;
}
.group_member_class_text1 {
	width:130px;
	float:right;
	height:100px;
}
#replaytitle dd {
	width:169px;
	margin:0px;
	text-align:left;
}
.group_member_class_text1 ul {
	list-style:none;
	height:100px;
}
.group_member_class_text1 li {
	float:left;
	width:130px;
	height:22px;
	color:#777777;
}
.group_member_class_text1 li a {
	color:#777777;
}
.group_class_gbtext {
	width:149px;
	word-wrap:break-word;
	padding:10px;
	color:#777;
	border-bottom:1px #6dbbd3 dotted;
	margin-bottom:5px;
}
.group_class_gbtext a {
	color:#777;
}
.group_class_more {
	height:30px;
	color:#1a8dc2;
	line-height:30px;
	text-align:right;
	padding-right:5px;
}
.group_class_more a {
	color:#1a8dc2;
	text-decoration:none;
}
.group_class_more a:hover {
	color:#ff72ae;
}
.group_class_notice {
	width:285px;
	border:1px solid #aadceb;
	margin-right:7px;
	float:left;
} /*-- 内页中间上部左 --*/
.group_class_notice_title {
	width:283px;
	border:1px solid #fff;
	height:27px;
	line-height:27px;
	background-color:#def5ff;
	text-indent:20px;
}
.group_class_notice_text {
	color:#00547a;
	padding:10px;
	width:263px;
	height:115px;
	line-height:20px;
}
.group_class_info {
	width:285px;
	border:1px solid #aadceb;
	float:right;
}/*-- 内页中间上部右 --*/
.group_class_info_img {
	width:120px;
	float:left;
	text-align:center;
	padding-top:20px;
	padding-bottom:10px;
	height:105px;
}
.group_class_info_text {
	width:155px;
	float:left;
	padding-left:10px;
	height:115px;
	padding-top:10px;
}
.group_class_info_text ul {
	list-style:none;
}
.group_class_info_text li {
	color:#00547a;
	text-align:left;
	line-height:16px;
}
.group_class_forum {
	width:579px;
	border:1px solid #aadceb;
	float:right;
	margin-top:6px;
} /*--内页首页帖子--*/
.group_class_forum1 {
	width:579px;
	border:1px solid #aadceb;
	float:right;
} /*--内页首页帖子--*/
.group_class_forum_title {
	width:577px;
	border:1px solid #fff;
	height:27px;
	line-height:27px;
	background-color:#def5ff;
	text-indent:20px;
}
.group_class_forum_title span {
	margin-left:10px;
	font-size:12px;
	color:#00547b;
}
.group_class_forum_title span a {
	color:#00547b;
	text-decoration:none;
}
.group_class_forum_title span a:hover {
	color:#ff72ae;
}
.group_class_forum_text {
	width:557px;
	padding:10px;
}
.group_class_forum_text ul {
	list-style:none;
}
.group_class_forum_text li {
	border-bottom:1px dotted #ccc;
	width:557px;
	padding-bottom:5px;
	text-indent:15px;
	background:url(../images/forum01.gif) no-repeat 0 12px;
	padding-top:5px;
	line-height:20px;
}
.group_class_forum_text li a {
	color:#000;
	text-decoration:none;
}
.group_class_forum_text li a:hover {
	color:#ff72ae;
}
.group_class_forum_text li span {
	color:#999900;
	margin-left:10px;
}
.group_class_forum_text li span a {
	color:#999900;
}
.group_line {
	width:760px;
	height:3px;
	background-color:#6dbbd3;
	margin-bottom:5px;
	display:block;
	font-size:0px;
}
/*--帖子内页--*/
.group_class_forum_title1 {
	width:577px;
	border:1px solid #fff;
	height:27px;
	line-height:27px;
	background-color:#def5ff;
	text-indent:20px;
	font-weight:bold;
	color:#1a8dc2;
}
.group_class_button_bg {
	background-color:#f1fbff;
	border-bottom:1px solid #aadceb;
	width:577px;
	height:31px;
	padding-top:9px;
	text-align:left;
}
.group_class_button_bg a {
	color:#00547b;
	text-decoration:none;
}
.group_class_button_bg a:hover {
	color:#ff72ae;
}
.group_class_button {
	background:url(../images/forum_sub.gif) repeat-x;
	width:47px;
	height:21px;
	margin:0 auto;
	padding:0px;
	line-height:21px;
	text-indent:10px;
	float:left;
	margin-left:10px;
}
.group_class_button a {
	color:#00547b;
	text-decoration:none;
}
.group_class_button1 {
	background:url(../images/forum_reply.gif) repeat-x;
	width:47px;
	height:21px;
	margin:0 auto;
	padding:0px;
	line-height:21px;
	text-indent:10px;
	float:right;
	margin-right:10px;
}
.group_class_topic {
	width:557px;
	background-color:#fff;
	font-size:14px;
	font-weight:bold;
	color:#000;
	height:20px;
	line-height:20px;
	padding-top:10px;
	padding-left:20px;
}
.quote {
	word-wrap:break-word;
	background-color:#f1fbff;
	font-size:14px;
	color:#000;
	padding:6px;
}
.group_class_topic a {
	color:#000;
	text-decoration:none;
}
.group_class_topic a:hover {
	color:#ff72ae;
}
.group_class_topic_text {
	background-color:#f1fbff;
	width:565px;
	margin-top:5px;
	padding-top:10px;
}
.group_class_topic_text1 {
	background-color:#fff;
	width:565px;
	margin-top:5px;
	padding-top:10px;
}
.group_class_topic_id {
	width:300px;
	padding:5px 5px 5px 15px;
	float:left;
}
.group_class_topic_id a {
	color:#990000;
}
.group_class_topic_id a:hover {
	color:#ff72ae;
}
.group_class_topic_reply {
	width:100px;
	float:left;
	padding:5px;
	text-align:right;
}
.group_class_topic_reply a {
	color:#000;
	text-decoration:none;
}
.group_class_topic_reply a:hover {
	color:#ff72ae;
}
.group_class_topic_quote {
	width:100px;
	float:left;
	padding:5px;
	text-align:left;
}
.group_class_topic_quote a {
	color:#000;
	text-decoration:none;
}
.group_class_topic_quote a:hover {
	color:#ff72ae;
}
.group_class_topic_font {
	color:#444;
	width:487px;
	padding:20px 40px 15px 10px;
	line-height:22px;
	border:1px dotted #999999;
	margin-bottom:20px;
	word-wrap:break-word;
}
.group_fast_reply {
	width:579px;
	height:200px;
}
.group_fast_reply_title {
	padding:20px 0 5px 20px;
}
.group_fast_reply_label {
	width:537px;
	border:1px solid #b0deec;
	background-color:#f7fcff;
	color:#333333;
	padding:20px;
	margin-bottom:10px;
	height:40px;
	font-size:12px;
}
.group_reply_input {
	height:18px;
	border:1px solid #b0deec;
	background-color:#f7fcff;
	color:#333;
	width:500px;
	margin-left:10px;
}
.group_fastreply {
	width:497px;
	border:1px dotted #999999;
	padding:20px;
	margin-bottom:10px;
}
/*首页圈子排行*/
.hot_1 {
	z-index:1000px;
	margin-left:-30px;
	background:url(../images/hot-1.gif) repeat-x;
	float:left;
	width:30px;
	height:30px;
}
.hot_2 {
	z-index:1000px;
	margin-left:-30px;
	background:url(../images/hot-2.gif) repeat-x;
	float:left;
	width:30px;
	height:30px;
}
.hot_3 {
	z-index:1000px;
	margin-left:-30px;
	background:url(../images/hot-3.gif) repeat-x;
	float:left;
	width:30px;
	height:30px;
}
.hot_4 {
	z-index:1000px;
	margin-left:-30px;
	background:url(../images/hot-4.gif) repeat-x;
	float:left;
	width:30px;
	height:30px;
}
.hot_5 {
	z-index:1000px;
	margin-left:-30px;
	background:url(../images/hot-5.gif) repeat-x;
	float:left;
	width:30px;
	height:30px;
}
.hot_6 {
	z-index:1000px;
	margin-left:-30px;
	background:url(../images/hot-6.gif) repeat-x;
	float:left;
	width:30px;
	height:30px;
}
.hot_7 {
	z-index:1000px;
	margin-left:-30px;
	background:url(../images/hot-7.gif) repeat-x;
	float:left;
	width:30px;
	height:30px;
}
.r_title {
	margin-top:8px;
	width:900px;
	height:120px;
	margin-bottom:1em;
	background:#fff;
	border:1px solid #9ed7e8;
}
.r_title li a {
	list-style:none;
	color:#0278be;
	text-decoration:none;
}
.r_title p {
	font-weight:bold;
	color:#0278c2;
	padding:5px 0 10px 7px;
	margin:0;
	display:block;
	font-size:14px;
}
.r_title p {
	padding:5px 0 2px 7px
}
.r_title .r_more {
	clear:both;
	text-align:right;
	padding:10px 7px 10px 0;
}
.r_title .r_more a {
	text-decoration:underline;
}
.r_title .newtopic {
	margin-left:10px;
}
.r_title li {
	float:left;
	height:23px;
	line-height:23px;
	word-break:break-all;
	overflow:hidden;
	width:360px;
	font-size:13px;
}
/*圈子图标*/
.r_title .r_ico {
	float:left;
	padding:0 0 5px 7px;
	width:100px;
	height:70px;
	text-align:center;
}
.r_title .r_ico img {
	border:0px;
}
.r_title .r_ico a:link, .r_title .r_ico a:visited, .r_title .r_ico a:active {
	text-align:center;
	color:#0278c2;
	width:100px;
	height:70px;
	display:block;
	float:left;
	text-decoration:none;
}
.r_title .r_ico a:hover {
	text-decoration:none;
	color:#ff9000;
}
.r_title .r_ico a span {
	margin:0;
	padding:0;
	display:block;
	font-weight:normal;
	width:100px;
	height:18px;
	line-height:18px;
	text-align:center;
	float:left;
	font-size:12px;
	overflow:hidden;
	color:#0278c2;
}
.r_title .r_ico a:hover span {
	cursor:pointer;
	color:#ff9000;
}
/*圈子图标*/
