body {
	background: #666;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
	font: 12px 宋体,Arial,sans-serif;
	line-height: 150%;
}

ul,dl,ol,form,div {
  margin:0px; padding:0px;
}
li,dd {
  list-style-type:none; margin:0px; padding:0px; 
}

a {
  color:#0D2680; text-decoration:none;
}
a:hover, a:active{
  color:#0A549E;
}

a img { border-style:none; }
h1 { color:#171B16; font-size:130%; font-weight:bold; }
h2 { color:#171B16; font-size:115%; font-weight:bold; }
h3 { color:#171B16; font-size:100%; font-weight:bold;}

/* 要重用的各种类 */
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.right { 
	float: right;
}
.left { 
	float: left;
}
.clearfloat { 
	clear:both;
  height:0;
  font-size: 1px;
  line-height: 0px;
}

#container { 
	width: 1000px; 
	background: #FFFFFF;
	margin: 0 auto; 
	text-align: left;
}

#header { 
	background: #fff; 
	padding: 0px;  
}

.debug{
	color:#000000;
	font-size:14px;
	text-align:center;
}

#header h1 {
	margin: 0; 
	padding-top: 10px; 
}

#logo {
	height:70px;
	padding-left:20px;
}

#logoimg{
  padding-top:8px;
  width:20%;
  float:left;
}

#topbanner{
  width:60%;
  float:left;
  padding-top:8px;
  text-align:center;
}

#quicklink{
  padding-right:10px;
  padding-top:10px;
  width:18%;
  float:right;
}

#quicklink dd{
  width:45%;
  height:26px;
  float:left;
}

#quicklink a{
  font-size:12px;
}


#navtop {
	padding: 5px 0 5px 10px;
	background:#abcdef url("navbg.gif");
}
#navtop a {
	font-size:13px;
}

#navct {
	background-color:#fff;
	border:1px solid #abcdef ;
	padding:1px;
	margin: 0px 2px 0px 2px;
}

#navsubct {
	background-color:#fff;
	padding: 0px;
	margin: 1px 2px 0px 2px;
	background:#abcdef url("ms-bg.gif");
	height:30px;
}

#snavleft {
  float:left;
  background:#abcdef url("ms-l.gif");
  width:12px;
	height:30px;
}

#snavmain {
  float:left;
  padding-top:5px;
}

#snavmain2 {
  float:left;
  padding:0px;
}

#snavright {
  float:right;
  background:#abcdef url("ms-r.gif");
  width:12px;
	height:30px;
}

#curpos {
  font-weight:bold;
  color:#0D2680;
}

#curpos2 {
  font-weight:bold;
  color:#0D2680;
}

#curpos a {
  font-weight:bold;
}

.hotworddiv
{
	height:18px;
	width:520px;
	padding-top:3px;
	overflow: hidden;
}