@import url(global.css);

.ncart {
	height:280px;
}

dl.articleBox {
 border:1px solid #aaccee;
 background-color:#fff;
 margin-bottom: 7px;
 margin-top:3px; 
 padding:1px;
 background:url(dtbg.gif) #fff repeat-x;  
}

dl.articleBox dt {
	font-weight:bold;
	border-bottom:1px solid #aaccee;
	padding: 4px 3px 4px 26px; 
	margin-bottom:3px;
	background:url(fbico.gif) no-repeat 6px;  
	font-size:14px;
	color:#0D2680;
}

dl.articleBox dt a {
   font-weight:bold;
}

dl.articleBox dd {
   padding: 3px;
}

dl.articleBox dd.autolist {
   padding: 0px;
}

dl.articleBox dd a{
   font-size:12px;
}

dl.articleBoxL {
 border:1px solid #aaccee;
 background-color:#fff;
 margin-bottom: 7px;
 margin-top:3px; 
 padding:1px;
 background:url(yybg2.gif) #fff repeat-x;  
}

dl.articleBoxL dt {
	font-weight:bold;
	border-bottom:1px dotted #aaccee;
	padding: 4px 3px 4px 26px; 
	margin-bottom:3px;
	background:url(sb2-logo.gif) no-repeat 6px;  
	font-size:14px;
	color:#0D2680;
}

dl.articleBoxL dt a {
   font-weight:bold;
}

dl.articleBoxL dd {
   padding: 3px;
}

dl.articleBoxL dd a{
   font-size:12px;
}

#articleInfo
{
   color: #666666;
   font-size: 12px;
   padding:0 0 10px 0;
}

/*  第一屏  */

#main1 {
  width: 1000px;
  margin:auto;
  text-align:left;
  margin-top:8px;
  padding: 1px;
  padding-left: 3px;
}

.flink
{
  text-align:left;
  margin:0px 1px 8px 1px;
  padding: 1px;
  border:1px solid #aaccee;
}

.flink dt
{
	background:url(ilbox1.gif) repeat-x;
	height:24px;
	line-height:24px;
	border-bottom:1px solid #aaccee;
	margin-bottom:3px;
}

.flink span.r
{
	float:right;
	padding-right:10px;
}

.flink span.l
{
	float:left;
	font-weight:bold;
	color:#265FC6;
}

.flink dd
{
	line-height:160%;
	padding:5px;
	display:inline;
	overflow:hidden;
}

.flink dd a
{
	display:block;
	float:left;
	padding-right:8px;
	padding-left:8px;
	margin:0px 0px 5px -1px;
	white-space:nowrap;
	border-left:1px solid #eee;
	color:#4E84C0;
	text-decoration:underline;
}

div.l1,div.l2,div.l3{
  float:left;
  width: 282px;
}
#l1box1{
  width: 278px;
  height: 200px;
  margin-bottom: 10px;
  /* border:1px dotted #aaccee; */
}
#l1box2{
  width: 278px;
  height: 162px;
  margin-bottom: 10px;
  border:1px solid #aaccee;
  background:url(ilbox1.gif) repeat-x;
}

#l1box2 div.title {
	margin:2px;
	padding-left:20px;
	height:24px;
	line-height:24px;
	border-bottom: 2px solid #FC975B;
	font-size:13px;
	font-weight:bold;
	background:url(dd2.gif) no-repeat 5px 5px;
	color:#961400;
}

#l1box2 div.item1 {
	margin:6px 2px 8px 2px;
	border-bottom: 1px dotted #EDEDED;
	padding:2px 0px 3px 20px;
	font-size:12px;
	background:url(sdd2.gif) no-repeat 4px 4px;
	color:#0D2680;
}

#l1box2 div.item2 {
	margin:2px;
	padding-left:20px;
	font-size:12px;
	background:url(sdd2.gif) no-repeat 4px 4px;
	color:#0D2680;
}

div.c1{
  float:left;
  width: 380px;
  margin-left:4px;
  background:url(headnewbg.gif) repeat-x;  
}

dl.c1box1 {
  border:1px solid #aaccee;
  height:372px;
}

dl.c1box1 dt{
  font-weight:bold;
	/*border-bottom:1px dotted #aaccee;*/
	padding: 5px 3px 6px 20px;
	margin-bottom:3px;
	background:url(i.gif) no-repeat 6px 7px;  
	font-size:14px;
	color:#0D2680;
}
dl.c1box1 dd {
	padding:2px;
}

#headart {
	text-align:center;
	line-height:32px;
	color:#0D2680;
}

#allnewart li{
	line-height:24px;
	clear:both;
}
#allnewart {
	padding:6px 0px 0px 3px;
}
#allnewart span.l {
	float:left;
	width:76%;
	overflow:hidden;
	height:24px;
	color:#0D2680;
}
#allnewart span.r {
	float:right;
	width:22%;
	color:#808682;
}

#headartold {
	text-align:center;
	line-height:180%;
	height:50px;
	color:#0D2680;
	border-bottom:1px dotted #D1E6FC;
}

#headartold div{
	width:48%;
	float:left;
}

#headart h1{
	font-size:18px;
	font-weight:bold;
	color:#0D2680;
	padding:0px;
	margin:0px;
}

div.r1{
  float:left;
  margin-left:6px;
}

div.r1 {
  float:left;
  margin-left:6px;
}

.bluebox{
  width: 323px;
}

.bluebox dt{
  background-image: url(yybg.gif); /* buleboxbg */
  height:29px;
  padding-top:0px 0px 0px 10px;
  border: 1px solid #aaccee;
}

.bluebox dd{
  border-bottom: 1px solid #aaccee;
  border-left: 1px solid #aaccee;
  border-right: 1px solid #aaccee;
  height: 342px;
}

.bluebox dt span.title {
  background: url(comment.gif) no-repeat 6px 8px;
  height:24px;
  padding:5px 0px 0px 22px;
  font-weight:bold;
  color:#0D2680;
  float:left;
}

.bbr {
  float:right;
  height:24px;
  padding:5px 15px 0px 15px;
  font-weight:bold;
  color:#0D2680;
  border-left:1px solid #8CA4EA;
  cursor:pointer;
}

.bbr1 {
	background:#fff;
	float:right;
  height:24px;
  padding:5px 15px 0px 15px;
  font-weight:bold;
  color:#0D2680;
  border-left:1px solid #8CA4EA;
  cursor:pointer;
}

#memberlist {
	padding-left:10px;
}

#memberlist li{
	float:left;
	width:23%;
	margin-left:3px;
	text-align:center;
	line-height:100%;
	margin-bottom:10px;
}

#memberlisttitle {
	margin:0px 6px 18px 6px;
	padding:3px;
	height:20px;
	border-bottom:1px solid #AFCBFA;
}

#memberlist img {
	width:38px;
	height:50px;
	border:1px #D7D18C solid;
	padding:3px;
	margin-right:7px;
}

div.mbname {
	width:60px;
	height:16px;
	line-height:16px;
	overflow:hidden;
}

#memberlist h2 a {
	color:#4E4F1E;
	text-decoration:underline;
}

#diggarea {
	padding-left:10px;
	line-height:100%;
	background:url(diggnum.gif) no-repeat 8px 9px;
}

#diggarea ul{
	height:284px;
}

#diggarea li {
	padding:10px 0px 2px 0px;
}
#diggarea span {
	width:10px;
	margin-right:6px;
	text-align:center;
	float:left;
	color:#297111;
}
#diggarea div {
	margin-top:7px;
	float:center;
}

#feedbackarea {
	display:none;
	padding-left:5px;
}

#feedbackarea ul{
  width:96%;
  margin:3px 0px 3px 0px;
}

#feedbackarea li.fbtitle{
  height:18px;
  padding:0px 6px 0px 6px;
  border-bottom:1px dashed #AFCBFA;
  background:#F7FEEF url(yybg.gif);
  color:#0D2680;
}

#feedbackarea li.fbmsg{
  height:30px;
  width:100%;
  padding:2px 6px 0px 6px;
  line-height:120%;
  color:#a0a0a0;
  overflow:hidden;
}

#feedbackarea li.fbmsg a{
  color:#a0a0a0;
}

#memberarea {
	display:none;
}

.bluebox a{
  color:#0D2680;
}

dd div.rc1 {
	padding:8px 3px 6px 3px;
	color:#0D2680;
}

ul.login{
	padding-top:16px;
	padding-left:10px;
	background:url(loginbg.gif) no-repeat;
	height:96px;
}

ul.login input{
	padding:0px;
}

ul.login li{
	height:32px;
	line-height:32px;
}

ul.login div{
	float:left;
	padding-right:3px;
	line-height:28px;
}

/* 第一屏结束 */

#mainContent2
{ 
	margin: 0 0 0 2px;
	float: right;
	width: 710px;
	padding: 1px;
}

#sidebarL {
	float: left; 
	width: 280px;
	background: #ffffff;  
	padding-left: 3px;
	padding-right: 0px;
}	

#mainContentCt
{
	padding: 5px;
}

#curpos
{
	border-bottom:1px solid #aaccee;
	background-color:#ebf3fb;
	padding:3px;
}

#curpos2
{
	background-color:#ebf3fb;
	padding:3px;
}

#imglist {
	height: 150px;
	background:url(imglistbg.gif) #fff repeat-x;
	margin:3px 0px 6px 0px;
	border:1px solid #aaccee;
	overflow:hidden;
}

#imglist dl{
	
}

#imglist img{
	height: 110px;
	width: 150px;
}

#imglist dl dd{
	float:left;
	padding:12px 7px 0px 18px;
	text-align:center;
}

#imglist dd a{
	font-size:12px;
	display:block;
	margin-bottom:3px;
}

#sidebar1 {
	float: right; 
	width: 24%;
	background: #ffffff;  
	padding-left: 2px;
	padding-right: 2px;
}	

#sidebar1 h3, #sidebar1 p {
	margin-left: 10px; 
	margin-right: 10px;
}

#footer { 
	border-top:1px solid #aaccee;
	text-align:center;
	padding: 0 10px; 
	background:#ebf3fb; 
} 

#footer p {
	margin: 0; 
	padding: 10px 0; 
	font: 12px Arial, sans-serif;
	color: #333333;
}

#footer a {
	color: #333333;
	font-size:10px;
}

#listmain{
	padding-left:3px;
	padding-right:3px;
	width:100%;
}

.addinfos{
	color: #333333;
	font-size:12px;
}

.mainlinklist {
	background:#f5fbff;
}

.col1 {
	background-color:#ffffff;
	border-bottom: 1px dotted #aaccee;
	width:99%;
}

.col1 a{
	font-size:12px;
	line-height:180%;
	font-weight: bold;
}

.col2 {
	background-color:#ffffff;
	border-left: 1px dotted #aaccee;
	border-bottom: 1px dotted #aaccee;
	text-align:center;
}

.col3 {
	background-color:#f5fbff;
	padding:8px;
}

.col3 a {
	font-size:12px;
}

.pagelistbox {
	padding: 0 3px 0 0;
}

td {
	line-height: 18px;
	font-size:12px;
}

td a {
	color:#0D2680; 
	text-decoration:underline;
}

.articleBox1 {
  width:49%;
  float:left;
}
.articleBox2 {
 width:49%;
 float:right;
}

#partindexpos {
	border: 1px solid #aaccee;
	padding: 1px;
}

.articleBox1 {
  width:49%;
  float:left;
  height:280px;
}
.articleBox2 {
 width:49%;
 float:right;
 height:280px;
}

.lfdd {
	background:url(dd1.gif) no-repeat 5px 2px;
	padding-left:16px;
}

dd.autolist {
  padding:0px;
  margin:0px;
}

ul.autod{
	clear:both;
	padding-top:4px;
	height:20px;!important 24px;
}

li.l {
	float:left;
	width:78%;
	color:#0D2680;
	background:url(arrow.gif) no-repeat 5px 4px;
	padding-left:15px;
}

li.r {
	float:right;
	width:16%;
	color:#808682;
}


