/*----------内容页*/
/*----------内容页:左侧*/
.pleft{
	width:692px;
	float:left;
	overflow:auto;
}
/*----------内容页:位置导航*/
.thisplace{
	width:692px;
	height:29px;
	line-height:27px;
	text-indent:25px;
	background:url(../images/ico_24.gif) 10px 9px no-repeat;
}
/*----------内容页:问题*/
.question{
	width:690px;
	border:1px solid #A2C6DA;
}
.question .title{/*问题标题*/
	height:40px;
	width:688px;
	background:url(../images/box_bg_2.jpg) repeat-x;
	margin:1px;
	border-bottom:1px dotted #EEE;
}
.question .title h3{
	padding:13px 0px 0px 10px;
	font-size:16px;
}
.question .title h3 img{/*问题标题图标*/
	margin-right:11px;
	margin-top:-4px;
}
.question .title .djs{/*剩余时间*/
	position:relative;
	float:right;
	margin:-19px 10px auto;
	color:#693;
	display:inline;
}
.question .content{/*问题内容*/
	width:650px;
	margin:9px auto;
	font-size:14px;
	color:#555;
	line-height:31px;
}
.question .content a.answerbutton{/*回答按钮*/
	width:124px;
	height:37px;
	display:block;
	margin:6px;
	background:url(../images/bt_bg.gif) top center;
	text-align:center;
	line-height:37px;
	color:#336600;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:1px;
}
.question .content a.answerbutton:hover{
	color:#006699;
	background:url(../images/bt_bg.gif) bottom center;
}
.question .questioninfo{/*问题相关信息*/
	width:688px;
	height:27px;
	line-height:27px;
	margin:1px auto 1px;
	background:#F4FAFE;
}
.question .questioninfo dl dd{
	float:left;
	padding-left:12px;
	padding-right:16px;
	color:#666666;
}
.question .questioninfo dl dd span{
	color:#693;
}
/*----------内容页:回答BOX*/
.answer{/*回答BOX*/
	width:650px;
	margin:5px auto;
	font-size:14px;
	color:#555;
	line-height:27px;
}
.answerinfo dl dd{/*回答内容*/
	float:right;
	padding-left:12px;
	padding-right:16px;
	color:#666666;
}
.answerinfo{/*回答相关信息*/
	margin:5px auto 0px;
	clear:both;
	width:660px;
	height:29px;
	border-top:1px dotted #DDD;
	line-height:29px;
}
.answerinfo dl dd span{
	color:#693;
}
/*----------内容页:最佳答案*/
.better .answerinfo{
	border-bottom:1px solid #F7B53C;
}

.better{/*最佳答案*/
	width:690px;
	border:1px solid #F7B53C;
}
.better .boxtitle{
	width:688px;
	height:27px;
	line-height:27px;
	background:#FCF4E0;
	border-bottom:1px solid #F7B53C;
	margin:1px auto;
	text-indent:13px;
	font-weight:bold;
	letter-spacing:2px;
}
.better .mark{/*答案评分*/
	width:668px;
	margin:0px auto;
	height:42px;
}
.better .mark dl{
	width:650px;
	margin:10px auto 0px;
}
.better .mark dl dt{
	float:left;
	line-height:39px;
	color:#666666;
}
.better .mark dl dt strong{
	font-size:14px;
	color:#333333;
}
.better .mark dl dd{
	float:left;
	width:170px;
	margin-left:16px;
}
.better .mark dl dd a{
	width:82px;
	height:22px;
	padding:11px 0px 4px 0px;
	display:block;
	float:left;
	background:url(../images/mark_ico.gif) top center no-repeat;
	font-weight:bold;
	font-size:14px;
	text-indent:15px;
	text-decoration:none;
	color:#666;
}
.better .mark dl dd a img{
	margin-right:10px;
	margin-top:-2px;
}
.better .mark dl dd a:hover{
	color:#CC3300;
	background-position:bottom;
}
.better .mark dl dd span{
	line-height:37px;
	float:left;
	margin-left:10px;
	font-size:12px;
}
.better .rebetter{/*提问者对最佳回答的评论*/
	width:660px;
	margin:5px auto;
	border-top:1px solid #F7B53C;
}
.better .rebetter dl{
	margin-top:10px;
}
.better .rebetter dl dt{
	font-size:14px;
	font-weight:bold;
	line-height:27px;
	color:#333;
	display:block;
	text-indent:5px;
}
.better .rebetter dl dd{
	width:620px;
	margin:0px auto;
	font-size:14px;
	color:#666;
	line-height:27px;
}
/*----------内容页:回答列表*/
.replyto{
	width:690px;
	border:1px solid #A2C6DA;
	padding-bottom:5px;
}
.replyto .boxtitle{
	width:688px;
	height:27px;
	line-height:27px;
	background:#F4FAFE;
	border-bottom:1px solid #A2C6DA;
	margin:1px auto;
	text-indent:13px;
	font-weight:bold;
	letter-spacing:2px;
}
.replyto .answerinfo{
	border-bottom:1px solid #A2C6DA;
}
/*----------内容页:发表*/
.refer{
	width:690px;
	border:1px solid #A2C6DA;
}
.refer .referbox{
	width:682px;
	border:4px solid #F4FAFE;
	padding-bottom:6px;
	overflow:auto;
}
.referbox dl{
	width:652px;
	margin:14px auto 0px;
	overflow:auto;
}
.referbox dl dt{
	width:80px;
	float:left;
	vertical-align:top;
	font-size:14px;
	font-weight:bold;
	line-height:200%;
}
.referbox dl dd{
	width:566px;
	float:right;
	line-height:29px;
	color:#999;
}
.referbox dl dd textarea{
	width:540px;
	height:100px;
	border:1px solid #BBB;
	padding:5px;
	font-size:14px;
	line-height:21px;
}
.referbox dl dd input{
	width:540px;
	border:1px solid #BBB;
	padding:7px 0px 4px 5px;
}
.referbox .psubmit{
	padding:8px 0px 8px 100px;
}
.referbox .psubmit .psub{
	width:124px;
	height:37px;
	border:none;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2px;
	line-height:37px;
	color:#360;
	background:url(../images/bt_bg.gif) top no-repeat;
}


.psub{
	width:124px;
	height:37px;
	border:none;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2px;
	line-height:37px;
	color:#360;
	background:url(../images/bt_bg.gif) top no-repeat;
}