/*----------列表页*/
/*----------列表页:左侧*/
.pleft{
	width:692px;
	float:left;
	overflow:hidden;
}
/*----------列表页:位置导航*/
.thisplace{
	width:692px;
	height:29px;
	line-height:27px;
	text-indent:25px;
	background:url(../images/ico_24.gif) 10px 9px no-repeat;
}
/*----------列表页:分类*/
.classbox{
	width:690px;
	border:1px solid #A2C6DA;
	overflow:hidden;
}
.classbox dl{
	width:688px;
	margin:1px;
}
.classbox dl dt{
	width:688px;
	height:27px;
	line-height:25px;
	border-bottom:1px solid #C4DBE8;
	text-indent:25px;
	background:#F4FAFE url(../images/ico_21.gif) 10px 8px no-repeat;
}
.classbox dl dt{
	color:#FF3300;
	text-decoration:none;
	font-weight:bold;
}
.classbox dl dd{
	width:688px;
	display:block;
	background:url(../images/box_bg_1.jpg) bottom repeat-x;
}
.classbox dl dd ul li{
	width:172px;
	height:37px;
	float:left;
	line-height:37px;
	display:block;
	text-indent:20px;
}
.classbox dl dd ul li a{
	font-size:14px;
	color:#666666;
}
.classbox dl dd ul li span{
	font-size:10px;
	color:#999999;
	margin-left:5px;
}

/*----------列表页:列表*/
.leftask{
	width:692px;
	margin-top:8px;
	overflow:hidden;
}
.leftask .asknav{
	width:692px;
	height:31px;
	position:relative;
	z-index:5;
	overflow:hidden;
}
.leftask .asknav ul{
	width:692px;
	height:29px;
	border-left:1px solid #A2C6DA;
	display:block;
	line-height:27px;
	overflow:hidden;
}
.leftask .asknav ul li{
	float:left;
}
.leftask .asknav ul li a{
	display:block;
	height:27px;
	float:left;
	padding-left:20px;
	padding-right:20px;
	border:1px solid #A2C6DA;
	border-left:none;
	background:#F4FAFE
}
.leftask .asknav ul li a.thisclass{
	background:#FFF;
	border-bottom:1px solid #FFF;
	border-left:none;
	text-decoration:none;
	color:#333333;
	font-weight:bold;
}

.leftask .askbox{
	width:690px;
	border:1px solid  #A2C6DA;
	margin-top:0px;
	background-color:#fff;
	z-index:2;
	overflow:hidden;
	padding-bottom:8px;
	margin-top:-3px;
}
.leftask .askbox dl{
	width:680px;
	margin:0px auto;
	overflow:hidden;
}
.leftask .askbox dl.asktitle{
	height:35px;
	line-height:35px;
	color:#666;
	border-bottom:1px solid #EEE;
}
.leftask .askbox dl.asklist{
	height:41px;
	line-height:41px;
	color:#888;
	background:url(../images/hr_1.gif) bottom repeat-x;
}
.leftask .askbox dl dd{
	display:block;
	text-align:center;
	float:left;
}
.leftask .askbox dl dd.biaoti{/*标题*/
	width:460px;
	text-align:left;
	text-indent:10px;
}
.leftask .askbox dl.asktitle dd.biaoti{
	text-indent:20px;
}
.leftask .askbox dl.asklist dd.biaoti span{
	font-size:12px;
	margin-left:10px;
	color:#999999;
}
.leftask .askbox dl.asklist dd.biaoti span a{
	font-size:12px;
	color:#999999;
	text-decoration:none;
}
.leftask .askbox dl.asklist dd.biaoti span a:hover{
	color:#F30;
}

.leftask .askbox dl.asklist dd.biaoti a{
	font-size:14px;
}
.leftask .askbox dl dd.jifen{/*悬赏分*/
	width:50px;
}
.leftask .askbox dl.asklist dd.jifen{
	padding-top:15px;
	line-height:15px;
	color:#F60;
}
.leftask .askbox dl dd.zhuangtai{/*状态*/
	width:50px;
}
.leftask .askbox dl.asklist dd.zhuangtai{
	padding-top:11px;
	line-height:15px;
	height:20px;
}
.leftask .askbox dl dd.huida{/*回答数*/
	width:40px;
}
.leftask .askbox dl dd.shijian{/*时间*/
	width:80px;
}
.leftask .askbox dl.asklist dd.shijian{
	line-height:40px;
	color:#777;
}
