/*----------发表页*/
/*----------发表页:位置导航*/
.thisplace{
	width:898px;
	height:29px;
	line-height:27px;
	text-indent:25px;
	background:#F4FAFE url(../images/ico_24.gif) 10px 9px no-repeat;
	border:1px solid #A2C6DA;
	
}
/*----------发表页:主内容框架*/
.main{
	width:898px;
	border:1px solid #A2C6DA;
}
.postbox{
	width:890px;
	border:4px solid #F4FAFE;
	padding-bottom:12px;
	overflow:auto;

}
.postbox dl{
	width:800px;
	margin:18px auto 0px;
	clear:both;
	display:block;
	overflow:hidden;
}
.postbox dl dt{
	width:90px;
	font-weight:bold;
	font-size:14px;
	letter-spacing:2px;
	float:left;
	line-height:29px;
	display:block;
	text-align:right;
}
.postbox dl dd{
	width:700px;
	float:right;
	line-height:21px;
	color:#999999;
	padding-top:4px;
}
.postbox dl dd input{
	width:540px;
	border:1px solid #BBB;
	padding:7px 0px 4px 5px;
}
.postbox dl dd  textarea{
	width:540px;
	height:100px;
	border:1px solid #BBB;
	padding:5px;
	font-size:14px;
	line-height:21px;
}
.postbox dl dd select{
	font-size:14px;
	padding:2px;
}
.postbox dl dd .jiantou{
	color:#333333;
}
.postbox dl dd .jifen{
	margin-left:10px;
	color:#FF6600;
}
.postbox dl dd .jifen2{
	color:#333;
}
.postbox dl dd .nmsd{
	width:auto;
	border:none;
	margin-right:6px;
}
.postbox .psubmit{
	padding:16px 0px 8px 160px;
}
.postbox .psubmit .psub{
	width:124px;
	height:37px;
	border:none;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2px;
	line-height:37px;
	color:#360;
	background:url(../images/bt_bg.gif) top no-repeat;
}