/*----------全局*/
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin:0;
	padding:0;
}
html, body {
	height:100%;
}
body {
	min-height:100%;
	height:auto !important;
	height:100%;
	font-family:Tahoma, SimSun, Arial;
	font-size:12px;
	color:#333;
	background-color: #fff;
	line-height: 15px;
	font-weight:400;
	background-color: #fff;
}
ul {
	list-style:none;
}
img {
	border:0px;
}
a {
	color:#369;
	text-decoration: none;
}
a:hover {
	color:#F30;
	text-decoration:none;
}
.cbody {
	width:900px;
	margin:0 auto;
}
.margintop {
	margin-top:6px;
}
.floatclear {
	clear:both;
}
input, select, img {
	vertical-align:middle;
	font-size:12px;
}
/* 顶部导航 add for Fangyu
-------------------------------------------------------------------*/
.headTop {
	background:url("../images/module_top.gif") repeat-x;
	width:100%;
	height:32px;
}
.headTop .logo {
	background:url("../images/module_top_logo.gif") no-repeat 20px 6px;
	width:200px;
	height:32px;
	float:left;
	cursor:pointer;
}
.headTop .welcome {
	color:#828282;
	height:32px;
	line-height:32px;
	padding-right:40px;
	text-align:right;
}
.headTop .welcome span a {
	color:#ee0000;
}
.headTop .welcome span a:hover {
	color:#000;
}
/*----------顶部全站导航*/
.sitenav {
	height:29px;
	background:url(../images/sitenav_bg.gif) repeat-x;
	overflow:hidden;
}
.sitenav ul {
	overflow:hidden;
	float:right;
	margin:8px 10px auto;
	display:inline;
}
.sitenav ul li {
	float:left;
	margin-left:-1px;
	border-left:1px solid #E3E3E3;
}
.sitenav ul li a {
	float:left;
	padding-left:10px;
	padding-right:10px;
	display:block;
	color:#666666;
	height:13px;
	text-decoration:none;
	white-space:nowrap;
}
.sitenav ul li a:hover {
	color:#FF3300;
}
/*----------头部*/
.toplogo {
	height:50px;
}
.logobox {
	width:300px;
	float:left;
}
.logoright {
	float:right;
	padding:20px 10px 0px 0px;
	letter-spacing:1px;
	color:#3399CC;
}
/*----------栏目导航&搜索*/
.topbox {
	height:39px;
	background:url(../images/topbox_bg.jpg) repeat-x;
	overflow:hidden;
}
.topbox .menu {
	height:39px;
	background:url(../images/topbox_menu_bg.jpg) repeat-x;
	float:left;
	width:300px;
}
.topbox .menu ul {
	background:url(../images/topbox_menu_left.gif) no-repeat;
	padding-left:13px;
	display:block;
	height:39px;
}
.topbox .menu ul li {
	float:left;
}
.topbox .menu ul li a {
	display:block;
	float:left;
	padding-left:10px;
	padding-right:10px;
	font-size:14px;
	color:#666666;
	line-height:33px;
	height:39px;
}
.topbox .menu ul li a:hover {
	color:#FF3300;
}
.topbox .menu ul li.menuright {
	float:right;
	height:39px;
	width:12px;
	background:url(../images/topbox_menu_right.gif) no-repeat;
}
.topbox .search {
	height:35px;
	float:right;
	background:url(../images/topbox_right.gif) right no-repeat;
	width:580px;
	padding-top:4px;
}
.topbox .search .searchinput {
	border-width:1px;
	border-style:solid;
	border-color:#619EBF #79ADC9 #79ADC9 #619EBF;
	padding:7px 0px 5px 10px;
	width:366px;
	color:#666666;
	letter-spacing:3px;
}
.topbox .search .submit {
	border:1px solid #7BAECA;
	background:#FFF url(../images/ss_bg1.gif) center bottom repeat-x;
	height:27px;
	line-height:25px;
	width:82px;
	letter-spacing:2px;
	font-weight:bold;
	color:#069;
}
.topbox .search .postqa {
	border:1px solid #7B94A2;
	background:#FFF url(../images/ss_bg2.gif) center bottom repeat-x;
	height:27px;
	line-height:25px;
	width:82px;
	letter-spacing:2px;
	font-weight:bold;
	color:#F60;
}
/*-------------------------底部:版权信息*/
.footer {
	clear:both;
	border-top:1px solid #EEE;
}
.footer .copyright {
	width:900px;
	text-align:center;
	color:#666666;
	line-height:21px;
	margin:6px auto;
}
.footer .copyright span {
	color:#669933;
	font-size: 12px;
}
.footer .slogo {
	text-align:center;
}
/*----------右侧*/
.pright {
	width:200px;
	float:right;
}
/*----------右侧:常规列表定义*/
.pright .rlist {
	width:198px;
	border:1px solid #A3C7DA;

	overflow:hidden;
}
.pright .rlist .rtitle {
	width:198px;
	height:29px;
	background:url(../images/rlist_title_bg.jpg) 0px 1px no-repeat;
	line-height:29px;
	text-indent:12px;
	font-weight:bold;
	letter-spacing:2px;
	color:#369;
}
.pright .rlist .rbox {
	width:198px;
	overflow:hidden;
}
/*----------右侧:统计信息*/
.askcount {
	margin:1px;
	width:196px;
	background:url(../images/box_bg_1.jpg) bottom repeat-x;
	padding-bottom:8px;
}
.askcount dd {
	text-indent:24px;
	margin-top:10px;
	color:#999999;
}
.askcount dd span {
	color:#369;
}
/*----------右侧:用户登录*/
.userlogin {
	overflow:hidden;
}
.userlogin dl {
	clear:both;
	height:23px;
	line-height:23px;
	margin-top:10px;
}
.userlogin dl dt {
	float:left;
	display:block;
	width:66px;
	text-align:right;
}
.userlogin dl dd {
	float:left;
}
.userlogin dl dd input {
	height:13px;
	width:100px;
	font-size:12px;
	padding:3px 0 3px 5px;
	border-width:1px;
	border-style:solid;
	border-color:#808080 #D4D0C8 #D4D0C8 #808080;
}
.userlogin .ulsubmit {
	text-align:center;
	margin-top:15px;
	height:33px;
}
.userlogin .ulsubmit .submit {
	margin-right:20px;
	width:68px;
	height:21px;
	background:url(../images/userlogin_submit.gif) repeat-x;
	border:1px solid #D4B06A;
	font-weight:bold;
	color:#753D00;
	letter-spacing:3px;
	line-height:20px;
	font-size:12px;
}
/*----------右侧:排行*/
.paihang {
	width:198px;
	background:url(../images/no_list_bg_1.gif) 8px 1px repeat-y;
}
.paihang dl {
	width:198px;
	background:url(../images/no_list_1.gif) 8px 0px no-repeat;
	display:block;
	clear:both;
	padding-bottom:5px;
}
.paihang dl dd {
	height:23px;
	width:190px;
	display:block;
	clear:both;
	padding-top:7px;
	margin:0px 4px 0px 4px;
	background: url(../images/hr_1.gif) center bottom repeat-x;
}
.qalist dl dd span {
	display:block;
}
.paihang dl dd .name {
	float:left;
	margin-left:28px;
}
.paihang dl dd .jifen {
	float:right;
	width:60px;
	text-align:left;
	font-size:10px;
	color:#339933;
}
/*----------右侧:问题列表*/
.wtlist {
	width:198px;
}
.wtlist ul li {
	line-height:31px;
	height:31px;
	background:url(../images/ico_7.gif) 8px 2px no-repeat;
	text-indent:20px;
}
.pages {
	width:670px;
	height:25px;
	margin:12px auto 0px;
	clear:both;
	background:#F7F7F7;
	border-bottom:1px solid #FFF;
}
.pages .pcount {
	display:block;
	padding-right:10px;
	padding-left:10px;
	float:left;
	border-right:2px solid #CCC;
	line-height:13px;
	margin:6px 20px 0px 2px;
	font-weight:bold;
	color:#3366CC;
	font-size:11px;
}
.pages .plist {
	float:left;
	padding-top:3px;
	line-height:17px;
}
.pages .plist strong {
	color:#FFF;
	display:block;
	float:left;
	padding-left:8px;
	padding-right:8px;
	background:#F60;
	border:1px solid #C33;
	margin: 0px 3px 0px 0px;
}
.pages .plist a {
	display:block;
	height:17px;
	float:left;
	padding-left:8px;
	padding-right:8px;
	border:1px solid #DDD;
	background:#FFF;
	text-decoration:none;
	margin-right:2px;
	color:#000;
}
.pages .plist a:hover {
	color:#FF0000;
}
.pages .pselect {
	float:right;
	padding:2px 5px;
}
.pages .pselect select {
	border:1px solid #999;
	font-size:11px;
}
.pages input {
	border:1px solid #999;
	padding:2px 2px 0px 4px;
}
