@charset "gbk";
/* ------------------------------------------------------------ 企业空间管理中心首页 -------------------------------------------------------------*/
/* -- 全局定位 --*/
* { margin:0px; padding:0px; font-size:12px; font-weight:normal; list-style-type:none;  }
html, body { margin:auto; padding:0px;background-color:#fff; text-align:center; }
#container { margin:auto; width:100%; height:100%; }
.button{ background:url(images/button.gif) repeat-x -1px; width:89px; height:30px; text-align:center; font-size:12px; color:#676767; line-height:30px; margin-top:5px; margin-bottom:5px; border:0;}
.button a{ text-decoration:none; font-size:12px; color:#676767;}
.button a:hover{font-size:12px; color:#ac0000;}
.button01{ background:url(images/button01.gif) repeat-x; width:62px; height:30px; text-align:center; font-size:12px; color:#676767; line-height:30px; margin:10px 0px 5px 20px; border:0;}
.button01 a{ text-decoration:none; font-size:12px; color:#676767;}
.button01 a:hover{font-size:12px; color:#ac0000;}
.clear { clear:both; }
.dlf { float:left;}
.dlf img{margin-top:9px;}
.space{ width:100%; height:10px;}
.textin {text-indent:42px;}
.subask {height:29px; line-height:29px; font-size:12px; color:#b60b0b; font-weight:bold; text-align:right; float:right; padding-right:20px;  }
.subask a{font-size:12px; color:#b60b0b; font-weight:bold; text-decoration:none;}
img{ border:0px;}
a{color:#454545;}
.bline {
  border-bottom: 1px dotted #BCD0B5;
  background-color: #FFFFFF;
}
.sendtable{
  border: 1px solid #BCD0B5;
  margin-bottom:6px;
}
.sendtable td{
  padding-left:3px;
  padding-right:3px;
}

/* -- 企业管理头部 --*/
#manage_company_header { width:100%; background:url(images/manage_company_logobg.gif) repeat-x; margin:auto; text-align:center; }
#manage_company_top { height:71px; margin:auto; width:760px; }
.manage_company_logo { background:url(images/manage_company_logo.gif) no-repeat; height:71px; width:258px; float:left; }
.manage_company_welcome { background:url(images/manage_company_welcome.gif) no-repeat; font-size:12px; color:#FFFFFF; width:300px; float:right; text-indent:25px; margin-top:30px; margin-right:50px; text-align:left; }
.manage_company_welcome_green { color:#FFFF00;}
#manage_company_menubg { width:100%; height:33px; font-size:12px; color:#355b00; background-image:url(images/company_topbg.gif); }
#manage_company_menu { margin:auto;  text-align:center; width:760px; }
.manage_company_topimg { background:url(images/company_managecenter.gif) no-repeat; height:26px; margin:7px auto; width:95px; float:left;}
.manage_company_text { float:left; width:561px; text-align:left; height:33px; }
.manage_company_text a{ font-size:12px; color:#355b00; text-decoration:none; }
.manage_company_text a:hover{ font-size:12px; color:#ffffff;}
.manage_company_text ul{ list-style:none; text-align:left; }
.manage_company_text li{ background: url(images/title01.gif) no-repeat left; text-indent:20px; height:33px; float:right; line-height:33px; margin-left:10px; }

/* -- 企业管理中间页 --*/
#manage_company_con {width:100%; margin:0px; text-align:center;}
#manage_company_main { width:900px; margin-top:10px;}

/* -- 企业管理中间页左边 --*/
#manage_company_left { width:168px; float:left; padding:10px 10px 10px 10px;}
.manage_company_title { border:1px solid #b1c384; width:166px; text-align:left; margin-bottom:8px; }
.manage_company_title_bg { cursor:pointer; background:url(images/title01.gif) no-repeat 15px 6px; font-weight:bold; background-color:#e9f9c3; height:25px;line-height:25px; width:166px; text-indent:30px; }
.manage_company_main_text { margin-top:5px;  width:166px; display:none;}
.manage_company_main_text a{ text-decoration:none; color:#555; }
.manage_company_main_text a:hover { color:#CC0000;}
.manage_company_main_text ul { list-style:none;}
.manage_company_main_text li { background:url(images/title02.gif) no-repeat 15px 6px; color:#555555; height:25px; width:166px; text-indent:40px; line-height:25px; }
#memberlist {text-align:left;}

/* -- 企业管理中间页右边 --*/
#manage_company_right { width:650px; float:left; padding:10px 10px 10px 0px; height:1050px;}
.turnleft{ text-align:left;}
.lineheight{line-height:20px; text-decoration:none;}
.lineheight a{ color:#555; text-decoration:none;}
.lineheight a:hover{ color:#CC0000;}
#manage_company_info { border:1px solid #b1c384; }
.manage_company_right_title {background:url(images/right_titlebg.gif) repeat-x; height:29px; border-bottom:1px solid #dee7ca; text-align:left; }
.manage_company_right_title ul{ list-style:none; }
.manage_company_right_title li{ background:url(images/title01.gif) no-repeat 10px; height:29px;  font-size:12px; color:#355b00; font-weight:bold; text-indent:30px; line-height:29px; }
.manage_company_right_text { width:610px; border-bottom:1px #d8e9b0 solid; }
.manage_company_right_text1 { border-right:1px solid #d8e9b0; float:left; width:120px; height:25px; line-height:25px; }
.manage_company_right_text2 { font-size:12px; color:#555555; float:left;  height:25px; line-height:25px; width:429px; }

/* -- 企业管理修改密码 --*/
.company_manage_form_label { background-color:#fafeef; border:1px solid #a3a561; height:18px; width:150px; color:#50650e; margin-bottom:5px; vertical-align:middle; }
.company_manage_form_label1 { background-color:#fafeef; border:1px solid #a3a561; height:120px; width:250px; color:#50650e; margin-bottom:5px; vertical-align:middle; vertical-align:bottom; }
.text_padding { padding-left:20px;}
/* -- 企业管理企业资料 --*/
.manage_company_info_title_bg {background:url(images/right_titlebg.gif) repeat-x; height:29px; border-bottom:1px solid #dee7ca; text-align:left; }
.manage_company_info_title_bg ul{ list-style:none; }
.manage_company_info_title_bg li{ background:url(images/title01.gif) no-repeat 10px; height:29px;  font-size:12px; color:#355b00; font-weight:bold; text-indent:30px; line-height:29px; }
.manage_company_info_text { height:20px; color:#555; padding:5px 0px 0px 10px;; text-align:left; }
.manage_company_info_text span{ color:#CC3300; padding-left:10px; }
.br { height:30px; padding:30px 0px 15px 30px; text-align:left; }
/* -- 企业管理企业文化 --*/
.button_form_text { height:30px; vertical-align:middle; padding-left:20px; padding-bottom:30px;}
.yanzhengma { background-color:#f5ffd5; border:1px solid #a3a561; height:16px; width:60px; color:#a3a561;  }

/* -- 发布招聘 --*/
.addjob_form { padding-top:5px; width:600px; text-align:left; padding-left:10px; margin-top:10px; line-height:25px; }
#joblist{text-align:left; padding:10px; width:600px;  line-height:20px; border:1px solid #b1c384; margin-bottom:8px;}
#joblist ul{list-style:none;}
#joblist li{color:#444; width:580px; float:left; height:30px; line-height:30px; border-bottom:1px dotted #E0E0E0;}
#joblist li a{color:#444; text-decoration:none; font-weight:bold;}
#joblist li a:hover{color:#ff72ae;}
/* -- 发布分类信息 --*/
.company_manage_form_option { background-color:#fafeef; color:#50650e; border:1px solid #a3a561; }
.addjob_form dd{ width:560px; height:28px; text-align:left; float:left; }
.addjob_form dd.big{ width:560px; height:50px; text-align:left; float:left; }
/*--我的提问--*/
#myask_right{ width:612px; float:left; padding:10px 10px 10px 0px;}
#myask_info { border:1px solid #b1c384; width:610px; }
.myask_title { background:url(images/right_titlebg.gif) repeat-x; height:29px;border-bottom:1px solid #b1c384; }
.myask_title ul{ list-style:none; }
.myask_title li{ background:url(images/title01.gif) no-repeat 10px; height:29px;  font-size:12px; color:#355b00; font-weight:bold; text-indent:30px; line-height:29px; text-align:left; float:left;  }
.myask_form{width:590px; float:left; padding:10px; background-color:#e9f9c3; }
.myask_formbg{ background-color:#fcfff6; width:580px; }
.myask_formbg dd{ padding-top:5px;}
/*--我的圈子--*/
.bigtext{font-size:14px; font-weight:bold; color:#355b00; text-align:left; padding-top:10px; border-bottom:1px dotted #d5e4b8;}
.smalltext { color:#444;text-align:left;}
.smalltext a{ color:#444; text-decoration:none;}
.smalltext a:hover{color:#cc000f;}
.smallbor{width:70px; height:20px; line-height:20px; float:left;}
.smallbor a{color:#444; text-decoration:none;}
.smallbor1{width:80px; height:20px; line-height:20px; float:left;}
.smallbor1 a{color:#444; text-decoration:none;}
.middlebor{width:210px; height:25px; line-height:25px; float:left; }
.highbor1{width:150px; padding-left:10px;height:25px; line-height:25px; float:left;}
.highbor{width:290px; padding-left:10px; height:20px; line-height:20px; float:left;}
.highbor a{color:#444; text-decoration:none;}
.highbor2{width:580px; padding-left:10px; height:25px; line-height:25px; float:left;}
.highbor2 a{color:#444; text-decoration:none;}
.myask_forbg_title {height:50px; line-height:50px;}
#myask_list_info { border:1px solid #b1c384; width:610px; background-color:#fcfff6; height:30px; line-height:30px; color:#355b00; margin-top:8px; float:left; }
#myask_list_info a{color:#355b00; text-decoration:none;}
##myask_list_info a:hover{color:#cc000f;}
.checkbox a{ color:#444; height:30px; text-decoration:none; line-height:30xpx; }
.checkbox a:hover{color:#cc000f;}
.group_label{ background-color:#fff; border:1px solid #d5d5d5; height:18px; width:350px; color:#888;  vertical-align:middle; line-height:18px; }
.group_label1{ background-color:#fff; border:1px solid #d5d5d5; height:18px; width:250px; color:#888;  vertical-align:middle; line-height:18px; }
.group_option{ background-color:#f4f4f4; color:#888; border:1px solid #d5d5d5; }
.group_label2{ background-color:#fff; border:1px solid #d5d5d5; height:80px; width:350px; color:#888;  vertical-align:middle; line-height:18px; }
.member_img{width:620px; background-color:#fff; text-align:center;}
.member_img ul{list-style:none; }
.member_img li{width:150px; float:left;}
.member_img li a:hover{width:150px; height:90px; display:block; background-color:#eee;}
/*--企业会员中心--*/
.commember1{background-color:#fefee8; color:#355b00; }
.commember1 td,.commember2 td{text-align:left; width:580px; height:30px; line-height:30px; text-indent:35px; font-weight:700; }
.commember1 td{ background:url(images/menumember.gif) no-repeat 10px 6px; }
.commember2{color:#355b00;}
.commember2 td{background:url(images/money.gif) no-repeat 10px 6px; border-bottom:1px dotted #d5d5d5;}
.commember3 { width:580px; height:30px; text-align:left; line-height:30px; }
.comloginlaber{ width:120px; height:18px; line-height:18px; border:1px solid #d5d5d5; }
.comloginlaber1{ width:60px; height:18px; line-height:18px; border:1px solid #d5d5d5; }
.combuy{width:580px; text-align:left; padding-left:20px;  border-top:1px dotted #d5d5d5; }
.combuy td a{ text-decoration:none; color:#355b00; font-size:14px;}
/*--积分兑换--*/
.jifenlabel{ width:120px; height:18px; line-height:18px; border:1px solid #c1c1c1; color:#d10000; }
/*--连载--*/
.member_booklabel{ background-color:#fafeef; border:1px solid #a3a561; height:18px; width:40px; color:#50650e; margin-bottom:5px; vertical-align:middle; }
.member_booklabel1{ background-color:#ffffed; border:1px solid #ccc; height:18px; width:40px; color:#454545; margin-bottom:5px; vertical-align:middle; }
.member_booktext{background-color:#fafeef;border:1px solid #a3a561;height:50px;width:210px;color:#50650e;margin-bottom:5px;}
.menu_nav li{float:left;padding:5px;font-size:14px;}
.menu_nav a{color:#000;}
.current {border:1px solid #e9f9c3;background:#e9f9c3;color:#000;font-weight:bold;}