img {	border: 0;}
form,h1,h2,h3,h4,h5,h6,ul,ol{	margin: 0; padding:0;}
td {font-size: 9pt;line-height: 1.5;}
body {font-size: 9pt;line-height: 1.5;}
a:link { font-size: 9pt; color: #000000; text-decoration: underline }
a:visited{ font-size: 9pt; color: #000000; text-decoration: underline }
a:hover {font-size: 9pt;color: red}
.m1{border-left: 1px solid #DFDFDB; border-top: 1px solid #DFDFDB; border-bottom: 1px solid #808080}
.m2{border-left: 1px solid #DFDFDB; border-bottom: 1px solid #808080; border-top: 1px solid #DFDFDB;border-right: 1px solid #DFDFDB;}
.m3{border-left: 1px solid #DFDFDB; border-top: 1px solid #DFDFDB;border-right: 1px solid #DFDFDB;}
.article{FONT-SIZE: 10pt; LINE-HEIGHT: 160%；table-layout:fixed;word-break:break-all}
.bn{color:#FFFFFF;font-size:0.1pt;line-height:50%}
.contents{font-size:1pt;color:#F7F6F8}
.nb{border: 1px solid #000000;height:18px}
.coolbg {border-right: 2px solid #ACACAC; border-bottom: 2px solid #ACACAC; background-color: #E6E6E6}
.topline{background-color:#F1F5F4;border-bottom:1px solid #C9D1CC;height:20px}

/* 左边菜单项  */
.mmt{background-color:#EDF3DE; border-bottom:2px solid #C4CFB6;
border-left:1px solid #DBDFDD;border-right:1px solid #DBDFDD;border-top:1px solid #DBDFDD;
}
.mmt1{background-color:#CFE8B5; 
  border:1px solid #DBDFDD;
  background-image:url('img/tbg2.gif')
}
.mmt1m{background-color:#CFE8B5; border-bottom:1px solid #C4CFB6;
border-left:1px solid #DBDFDD;border-right:1px solid #DBDFDD;border-top:1px solid #DBDFDD;
}

.mml{border-left:1px solid #DBDFDD}
.mmr{border-right:1px solid #DBDFDD}
.mma{border-left:1px solid #DBDFDD;border-right:1px solid #DBDFDD}
.mmb{border-left:1px solid #DBDFDD;border-right:1px solid #DBDFDD;
border-bottom:1px solid #DBDFDD;font-size:1px}
.mmbb{ border-bottom:1px solid #DBDFDD; }

/* 右边主框架 */
.mainbody{
   border:1px solid #E1E7DA
}

.ittop{margin:0px;margin-right:3px;margin-top:2px;}

.option1{ background-color: #F3FBCE}
.option2{ background-color: #DEDEDE; }
.option3{ background-color: #FFFFFF; }

.spacetitle{
	color:#0E83ED;
	font-size:28px;
	font-weight: bold;
}

.toplinespace{background-color:#FFFFFF;border-bottom:1px solid #C9D1CC;height:20px}

.gdt{
border-bottom:1px solid #999999; height:25px
}

.gdt2{
border-bottom:1px solid #999999; height:25px;padding-top:2px
}