.top {
	height:37px;
	width:100%;
	background:#9E8560 url(admin_top_bg.gif) no-repeat right top;
	overflow:hidden;
	clear:both;
}
.top .top_link ul li.welcome {
    border-right: medium none;
    color: #FFF;
    padding-right: 6px;
}
.top .top_link ul li a {
    color: #FFF;
    padding-left: 11px;
    padding-right: 11px;
    text-decoration: none;
}
.dbox dt.lside {
    background: url(dlgtitle.gif) repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #B1A27B;
}
.dbox {
    border: 1px solid #B1A27B;
    margin-left: 1%;
    margin-top: 8px;
    width: 98%;
}
.dbox dt {
    color: #594C36;
    cursor: move;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
}
a b {
    color: #594C36;
}
b, strong {
    color: #594C36;
}
.topnav {
    background: url("admin_top_bg.gif") repeat-x scroll left -37px transparent;
    clear: both;
    height: 29px;
    overflow: hidden;
    width: 100%;
}
a.mmac div {
    background: url("leftbg2.gif") no-repeat scroll 0 0 transparent;
    color: #325304;
    font-weight: bold;
    height: 37px !important;
    padding: 6px 4px 4px 10px;
    word-wrap: break-word;
}
a.mm:hover div {
	background:url(leftbg2.gif) no-repeat;
	color:#4F7632;
}
dl.bitem dt b, dl.bitem2 dt b {
    color: #594C36;
}