td {font-size: 9pt;line-height: 1.5;}
body {font-size: 9pt;line-height: 1.5;}
a:link { font-size: 9pt; color: #000000; text-decoration: none }
a:visited{ font-size: 9pt; color: #000000; text-decoration: none }
a:hover {color: red;background-color:#DDE0D1}
.linerow{border-bottom: 1px solid #ACACAC;}
.coolbg {border-right: 2px solid #ACACAC; border-bottom: 2px solid #ACACAC; background-color: #E6E6E6}
.ll {border-right: 2px solid #ACACAC; border-bottom: 2px solid #ACACAC; background-color: #E6E6E6}
.pageborder{border-left: 1px solid #ACACAC;border-right: 1px solid #ACACAC;}
.bottomline{border-bottom: 1px solid #ACACAC;}.unnamed1 {
	border: thin solid #000000;
}
.inputborder{border: 1px solid #000000;}
.lfborder{border: 1px solid #DDDDDD;}
.aaa{font-size:1pt;color:#EFEFEF;line-height:1%}