/* 全局规则 S */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin:0;
	padding:0;
}
html, body {
	height:100%;
}
body {
	min-height:100%;
	height:auto !important;
	height:100%;
	font-family:Tahoma, SimSun, Arial;
	font-size:12px;
	color:#333;
	background-color: #fff;
	line-height: 15px;
	font-weight:400;
}
input, select {
	vertical-align:middle!important;
	vertical-align:-2px;
}
li {
	list-style:none;
}
em {
	font-style: normal;
}
.clear {
	clear:both;
	height:0;
	visibility:hidden;
	width:0;
	overflow:hidden;
}
.wrap {
	width:950px;
	clear: none;
	margin-right: auto;
	margin-left: auto;
}
img, a img {
	border:0
}
/* 全局规则 E */

/* 顶部导航 add for Fangyu
-------------------------------------------------------------------*/
.headTop {
	background:url("module_top.gif") repeat-x;
	width:100%;
	height:30px;
}
.headTop .logo {
	background:url("module_top_logo.gif") no-repeat 20px 6px;
	width:200px;
	height:30px;
	float:left;
	cursor:pointer;
}
.headTop .welcome {
	color:#828282;
	height:30px;
	line-height:30px;
	padding-right:40px;
	text-align:right;
}
.headTop .welcome span a {
	color:#ee0000;
}
.headTop .welcome span a:hover {
	color:#000;
}
/* 头部标题 S */
.banner {
	position:relative;
	height:100px;
	width:950px
}
.banner h1, .banner h2 {
	position:absolute;
	font-weight:normal;
	font-family:"宋体"
}
.banner h1 {
	top:35px;
	left:50px;
	font-size:30px;
	line-height:30px;
	height:30px;
	font-weight: bold;
}
.banner h2 {
	bottom:19px;
	right:35px;
	font-size:12px;
	padding:0 18px 0 11px;
	height:19px;
}
.banner h2 a:link, .banner h2 a:visited {
	line-height:19px;
	font-size:12px;
}
#pages {
	float:left;
}
#pages .pages_beta {
	background:url("beta.gif") no-repeat right;
	padding-right:31px;
}
#manage {
	float:right;
	padding-right:10px;
}
#manage a:link, #manage a:visited {
	font-size:12px;
	margin:0 4px;
}
/* 头部标题 E */

/* 栏目区域规则 S */
.gLeft, .gCenter, .gRight {
	min-height:20px;
	float:left;
	overflow:hidden;
}
/* 栏目区域规则 E */

/* 模块样式规则 S */
.module {
	margin:10px 5px;
}
.module .top {
	overflow:hidden;
	width:100%;
}
.module .top .t_l, .module .bottom .b_l {
	float:left;
	overflow:hidden;
}
.module .top .t_r, .module .bottom .b_r {
	float:right;
	overflow:hidden;
}
.module .top em {
	float:left;
	font-family:"宋体";
	font-size:13px;
	font-weight:bold;
	padding:6px 0pt 0pt 7px;
}
.module .top em font {
	font-family:"宋体";
}
.module .top em a:link, .module .top em a:visited {
	font-family:"宋体";
	font-size:14px;
	font-weight:bold;
}
.module .top span {
	background:transparent url(module_remove.gif) no-repeat scroll 0%;
	float:right;
	height:9px;
	margin:8px 3px 0pt 0pt;
	width:9px;
}
.module .top strong {
	color:#FF0000;
	cursor:pointer;
	float:right;
	font-weight:normal;
	line-height:26px;
	margin-right:4px;
}
.module .mid {
	width: 100%;
}
.module .mid .m_l, .module .mid .m_r {
	overflow:hidden;
}
.module .mid .content {
	overflow:hidden;
	padding:15px;
}
.module .bottom {
	overflow:hidden;
}
/* 模块样式规则 E */

/* 文章列表 S */
#catagory dd span {
	overflow:hidden;
	/*word-break:keep-all;*/
	white-space:nowrap;
	display:block;
	height:25px;
	line-height:25px
}
#catagory dl {
	clear:both
}
#catagory dd {
	padding-left:11px
}
#catagory dd span a:link, #catagory dd span a:visited {
	margin-right:2px;
	font-size:14px;
	line-height:25px
}
#catagory dd em {
	float:right
}
#catagory dd em a:link, #catagory dd em a:visited {
	line-height:25px;
	padding-right:0
}
#catagory dt {
	text-align:right;
	font-family:"宋体"
}
#catagory dt a:link, #catagory dt a:visited {
	line-height:35px
}
/* 文章列表 E */

/* 圈子资料 S */
#gInfo {
	/*text-align:center;*/
}
#gInfo  h1 a {
	font-size:14px;
	line-height:26px;
	height:auto;
}
#gInfo h1 em {
	font-size: 12px;
	font-weight: normal;
	margin-left: 5px;
}

#gInfo img {
	width:80px;
	height:80px;
	padding:2px;
	float:left;
	margin-right:8px;
}
#gInfo ul {
	height:84px;
	margin-bottom:10px;
}
#gInfo li {
	line-height:22px;
	font-family:"宋体";
}
#gInfo li a:link, #gInfo li a:visited {
	font-family:宋体;
	height:22px;
	line-height:22px;
}
#gInfo p {
	line-height:18px;
	clear:both;
	margin-top: 3px;
	margin-bottom: 3px;
}
#gInfo dl {
	display:block;
	width:100%;
}
#gInfo  dt {
	width:40px;
	float: left;
	color: #B2B2B2;
	line-height: 22px;
}
#gInfo dd {
	line-height: 22px;
}
#gInfo  .gDescMore {
	cursor: pointer;
	text-align: right;
}
#gInfo dd span a:link, #gInfo p span a:visited {
	line-height:18px;
}
/* 圈子资料 E */

/* 圈子成员列表 S */
#member li {
	float: left;
	width: 49.9%;
	line-height: 20px;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#member li img {
	float: left;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	margin-right: 5px;
}
/* 圈子成员列表 E */

/* 圈主 S */
#host #p_w li {
	/*text-overflow:ellipsis;*/
	overflow:hidden;
	/*word-break:keep-all;*/
	height:23px;
	line-height:18px;
}
#host #p_w li em a:link, #host #p_w li em a:visited {
	/*text-overflow:ellipsis;*/
	overflow:hidden;
	/*word-break:keep-all;*/
}
#host #p_w {
	clear:both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#host .host_img {
	width:73px;
	height:73px;
	padding:2px;
	float:left;
	margin-right:6px;
	cursor:pointer;
}
#host #p_w ul {
	padding-top:10px;
}
#host #p_w li strong a:link, #host #p_w li strong a:visited {
	font-weight:bold;
	height:25px;
	line-height:25px;
	margin-right:2px;
}
#host p {
	line-height:20px;
}
/* 圈主 E */

/* 圈内会员 S */
#senior li span a:link, #senior li span a:visited {
	overflow:hidden;
	/*text-overflow:ellipsis;*/
	/*word-break:keep-all;*/
	display:block;
	text-align:left;
}
#senior li a:link, #senior li a:visited {
	overflow:hidden;
	/*text-overflow:ellipsis;*/
	/*word-break:keep-all;*/
	display:inline;
}
#senior ul {
	width:100%;
}
#senior li {
	width:60px;
	float:left;
	overflow:hidden;
	display:inline;
	text-align:center;
	padding-top: 9px;
	padding-right: 17px;
	padding-bottom: 0;
	padding-left: 20px;
}
#senior span {
	text-align: center;
}

#senior li span a:link, #senior li span a:visited {
	height:18px;
	line-height:18px;
	font-weight:bold;
}
#senior li a:link, #senior li a:visited {
	height:18px;
	line-height:18px;
}
#senior .fy {
	text-align:right;
	padding-right:27px;
	margin-top:15px;
	height:20px;
}
/* 成员列表 S */
#senior h6 {
	height:22px;
	font-weight:normal;
	padding-left:5px;
	border-bottom:1px solid #D5DCE5;
	font-size:14px;
	width:93%;
	margin:20px auto 10px;
}
#senior h6 span {
	float:right;
	padding-right:15px;
}
#senior h6 span a:link, #senior h6 span a:visited {
	display:inline;
	font-weight:normal;
}
/* 成员列表 E */
/* 圈内会员 E */
/* 圈内会员头像样式 S */
.seniorImg {
	width:55px;
	height:55px;
	padding:2px;
	display:block;
	cursor:pointer;
	margin:0 auto;
}
/* 圈内会员头像样式 E */

/* 圈子链接样式 S */
.links a:link, .links a:visited {
	display:block;
	line-height:20px;
}
/* 圈子链接样式 E */

/* 圈子公告样式 S */
#board dt {
	float: left;
	margin-right: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	margin-bottom: 8px;
}
#board dd {
	margin-bottom: 8px;
}
/* 圈子公告样式 E */

/* 圈子照片样式 S */
#piclist {
	clear:both;
	color:#666666;
	line-height:21px;
	margin-left:auto;
	margin-right:auto;
}
#piclist li {
	float:left;
	padding-top:17px;
	text-align:center;
	width: 33%;
}
#piclist li p {
	text-align: center;
}

#piclist  li img {
	border:1px solid #A4A4A4;
	padding:1px;
	height: 80px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
}

/* 圈子留言 S */
#write li {
	width:100%;
	margin-bottom:11px;
}
.writeBox2 {
	text-align:right;
}
#write .more {
	text-align: right;
}
#guest li {
	height:42px;
	overflow:hidden;
}
.guestUpdate {
	margin-right:2px;
	width:10px;
}
.guestUpdate img {
	width:10px;
	height:11px;
}
.guestPerson {
	width:30px;
	height:30px;
	padding:1px;
	float:left;
	cursor:pointer;
	margin-right:6px;
}
.guestInfo {
	color:#77787A;
	line-height:20px;
}
.guestInfo a:link, .guestInfo a:visited {
	font-weight:bold;
	margin-right:2px;
}
.guestOnline {
	width:12px;
	height:12px;
	margin-left:2px;
}
.guestInfo em {
	float:right;
}
#guest .more {
	height:25px;
	line-height:25px;
	background:transparent;
}
#guest .more a:link, #guest .more a:visited {
	line-height:20px;
}
/* 圈子留言 E */

/* 新圈子 S */
#gNews dl {
	height: 70px;
}
#gNews dt {
	float: left;
}
#gNews dt img {
	padding: 1px;
	height: 55px;
	width: 55px;
	vertical-align: middle;
}
#gNews dd {
	line-height: 20px;
	text-indent: 1em;
}
/* 新圈子 E */
/* 推荐圈子 S */
#gRec dl {
	height: 70px;
}
#gRec dt {
	float: left;
}
#gRec dt img {
	padding: 1px;
	height: 55px;
	width: 55px;
	vertical-align: middle;
}
#gRec dd {
	line-height: 20px;
	text-indent: 1em;
}
/* 推荐圈子 E */
/* 还去过的圈子 S */
#analogous li span a:link, #analogous li span a:visited {
	overflow:hidden;
	/*text-overflow:ellipsis;*/
	/*word-break:keep-all;*/
	display:block;
	text-align:left;
}
#analogous li a:link, #analogous li a:visited {
	overflow:hidden;
	/*text-overflow:ellipsis;*/
	/*word-break:keep-all;*/
	display:inline;
}
#analogous ul {
	width:100%;
}
#analogous li {
	width:60px;
	float:left;
	overflow:hidden;
	display:inline;
	text-align:center;
	padding-top: 9px;
	padding-right: 17px;
	padding-bottom: 0;
	padding-left: 20px;
}
#analogous span {
	text-align: center;
}
#analogous li span a:link, #analogous li span a:visited {
	height:18px;
	line-height:18px;
}
#analogous li a:link, #analogous li a:visited {
	height:18px;
	line-height:18px;
}
#analogous .fy {
	text-align:right;
	padding-right:27px;
	margin-top:15px;
	height:20px;
}
/* 还去过的圈子 E */
/* 翻页条一 */
.pagBar {
	height:24px;
	margin-top:20px;
	text-align:center;
	line-height:24px;
	font-family:"宋体";
}
.pagBar a:link, .pagBar a:visited {
	line-height:24px;
	font-size:14px;
	font-family:"宋体"
}
.pagBar a:hover, .pagBar a:active, .pagBar strong {
	text-decoration:none;
}
.pagBar .text_25_13 {
	width:25px;
	height:13px;
}
.pagBar .btn_go {
	width:26px;
	height:20px;
	line-height:15px;
	font-family:arial;
	text-align:center;
	cursor:pointer;
	vertical-align:-2px;
}
/* 翻页条二 */
#pagBar {
	height:24px;
	background:#F5F9FF;
	margin-top:20px;
	text-align:center;
	color:#636464;
	border:1px solid #C0D0DD;
	width:95%;
	line-height:24px;
	font-family:宋体;
}
#pagBar a:link, #pagBar a:visited {
	color:#636464;
	line-height:24px;
	font-size:14px;
}
#pagBar a:hover, #pagBar a:active, #pagBar strong {
	color:#184675;
	text-decoration:none;
}
#pagBar .text_25_13 {
	width:25px;
	height:13px;
	color:#666;
}
#pagBar .btn_go {
	width:26px;
	height:20px;
	line-height:15px;
	font-family:arial;
	text-align:center;
	cursor:pointer;
	vertical-align:-2px;
}

/* 文章显示 */
h3.blogfileIinfo {
	height:36px;
	line-height:36px;
	padding:0 15px;
	font-weight:normal;
	font-size:12px;
}
h3.blogfileIinfo span {
	float:right;
	line-height:36px;
	font-size:12px;
}
h3.blogfileIinfo span em {
	color:#FE0200;
}
h2.h2Text {
	height:30px;
	margin-top:25px;
	text-align:center;
	font-size:24px;
	line-height:30px;
}
h6.blogfile_url {
	height:20px;
	line-height:20px;
	text-align:center;
	font-weight:normal;
	font-size:12px;
}
#blogContent {
	margin:0 25px;
	padding:30px 20px;
	font-size:130%;
	line-height:180%;
}
.blog_tags {
	margin-left:25px;
	line-height:35px;
}
.blogOperate {
	margin:40px 25px 20px 0;
	text-align:right;
}
.blogOperate a {
	margin:0 5px;
}
#blogRreply {
	height:25px;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:30px;
	background-image: url("blog_reply.gif");
	background-repeat: no-repeat;
	background-position: 12px 7px;
}
#blogComment {
	padding:20px 30px;
}
#blogComment .comment {
	padding-bottom:10px;
}
#blogComment  .comment  .commentImg {
	margin-bottom:0px!important;
	margin-bottom:10px;
}
#blogComment .comment td {
	line-height:21px;
}
#blogInput {
	margin:20px 15px;
	border-top:1px solid #a5a5a5;
	padding-top:20px;
	clear:both;
	width:95%;
}
#blogInput span {
	float:left;
}
#blogInput textarea {
	width:586px;
	height:140px;
}
#blogInput p {
	line-height:30px;
	padding-left:60px;
}
#blogInput_btn {
	height:30px;
	line-height:30px;
	padding-left:325px;
	font-family:"宋体";
}
#blogInput_btn input {
	margin-right:12px;
}
/* 留言 S */
.writeTitle {
	border-bottom:1px solid #CCCCCC;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
.writeList li {
	border-bottom:dashed 1px #D4D4D4;
	padding-top:15px;
	width:95%;
	margin:0 auto;
}
.writeList span {
	float:left;
	padding-right:20px;
	line-height:25px;
}
.writeList span a {
	line-height:25px;
}
.writeList .box_1 {
	line-height:22px;
}
#writePag {
	width:95%;
	text-align:center;
	line-height:50px;
	height:50px;
	border-bottom:1px solid #D4D4D4;
}
#writePag span {
	text-decoration:none;
}
#writeInput .box_1 {
	line-height:35px;
}
.write_bottom {
	width:95%;
	padding-top:20px;
	text-align:right;
}
/* 留言 E */
/* 邀请成员 S */
#invite {
	padding:30px 0 20px 50px;
}
#invite table {
	width:100%;
}
#invite table th {
	vertical-align:top;
	color:#666;
	width:25%;
	text-align:right;
	height:25px;
}
#invite table td {
	width:75%;
	color:#666;
}
#invite table td input {
	width:300px;
	height:18px;
	color:#666;
}
#invite table td textarea {
	width:300px;
	height:150px;
	color:#666;
}
#btn_submit {
	height:30px;
	margin-top:15px;
	padding-left:35%;
}
#btn_submit input {
	width:120px;
	height:25px;
	text-align:center;
	color:#000;
}
/* 邀请成员 E */
/* 访客 S */
.guestTitle {
	font-size:12px;
	height:30px;
	line-height:30px;
	padding-top:10px;
	padding-left:10px;
}
.guestPag {
	margin:0 15px;
	padding-right:20px;
	border-bottom:1px solid #CCCCCC;
	text-align:right;
	line-height:25px;
	margin-bottom:20px;
}
#guestList li {
	padding-left:25px;
	height:45px;
}
#guestList li .span_1 {
	float:left;
	background: url(ico7.gif) no-repeat 0 9px;
	width:10px;
	height:20px;
	padding-right:5px;
}
#guestList li .span_2 {
	float:left;
	height:25px;
	width:25px;
}
#guestList li .span_2 img {
	width:30px;
	height:30px;
	cursor:pointer;
}
#guestList li .span_3 {
	float:left;
	padding-top:5px;
	padding-left:15px;
	width:150px;
}
#guestList li .span_3 a {
	margin-right:2px;
}
#guestList li .span_4 {
	float:left;
	padding:5px 40px 0 0px;
	width:120px;
}
#guestList li .span_6 {
	float:left;
	padding:5px 0 0 0px;
	width:95px;
}
#guestList li .span_5 {
	padding-left:18px;
	background: url(ico8.gif) no-repeat;
	float: left;
	padding-top: 5px;
	height:20px;
}
/* 访客 E */

/* 建立圈子 S */
.regFlow {
	line-height: 25px;
	font-size: 14px;
	text-indent: 14px;
	color: #666666;
	margin-top: -10px;
	margin-bottom: 10px;
}
.regFlow strong {
	color: #FF6600;
}
.register {
	width: 760px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
}
.regTit {
	height: 40px;
	background: #EAF7EA;
	border: 1px solid #39953A;
	text-indent: 16px;
	color: #399639;
	font: bold 16px/40px "幼圆", "宋体", "黑体";
}
.regItem {
	margin-top: 20px;
	margin-bottom: 20px;
}
.regItem dt {
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	color: #666666;
	line-height: 25px;
	padding-right: 14px;
	padding-left: 14px;
	margin-bottom: 22px;
	font-size: 14px;
}
.regItem dd {
	line-height: 40px;
	clear: both;
}
.regItem dd .text {
	font-weight: bold;
	float: left;
	width: 230px;
	text-align: right;
	color: #000000;
	font-size: 13px;
}
.regItem dd .info {
	font-size: 12px;
	color: #666666;
	width: 250px;
	display: block;
	float: left;
	line-height: 18px;
	margin-top: 10px;
}
.regItem dd .input {
	padding: 1px 3px;
	border-top: 1px solid #7c7c7c;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #c3c3c3;
	float: left;
	color: #000000;
	margin-top: 9px;
	margin-right: 30px;
	width: 210px;
	background: url(bg-fields.gif) repeat-x;
}
.regItem dd .select {
	margin-top: 10px;
	margin-right: 30px;
	width: 220px;
	float: left;
}
.regItem dd em {
	float: left;
	color: #FF0000;
	text-align: right;
	padding-right: 5px;
	font-size: 14px;
	width: 10px;
}
.regItem dd strong {
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	display: block;
	margin-top: 10px;
	text-indent: 10px;
}
.regItem .contract {
	margin-right: auto;
	margin-left: auto;
	width: 86%;
	height: 90px;
	text-align: left;
	overflow-x: auto;
	overflow-y: auto;
	padding: 5px;
	border: 1px solid #cccccc;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	background: #fafafa;
}
.registrc {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000000;
	font-size: 14px;
	padding-left: 10px;
}
.agreement {
	padding-top: 10px;
	line-height: 200%;
}
.agreement input {
	height: 30px;
	margin: 10px;
}
/* 建立圈子 E */

/* 帖子页 S */
#list thead td img {
	vertical-align:-2px!important;
	vertical-align:-1px;
	margin-top:4px;
}
#list tfoot td span {
	float:right;
	padding-right:15px;
}
#apply {
height:auto!imporatant;
	height:300px;
}
#apply table tbody th {
	padding-left:0!important;
	padding-left:53px;
	height:180px;
}
#apply table tfoot th {
	height:43px;
}
#list tbody th img {
	width:73px;
	height:73px;
}
#list tbody th img.online {
	width:12px;
	height:12px;
	padding:0;
	border:none;
}
a:link#advanced_reply, a:visited#advanced_reply {
	text-decoration:underline;
	position:relative;
	top:-3px;
	left:8px;
}
a:hover#advanced_reply, a:active#advanced_reply {
	text-decoration:none;
}
/* 帖子页 E */

/* 快速回复 S */
#apply table#forum_fast thead input {
	width:345px;
}
#apply table#forum_fast th.forum_fast_th, #apply table#forum_fast td.forum_fast_th, #apply table#branch_fast th.branch_fast_th, #apply table#branch_fast td.branch_fast_th {
	height:30px;
	border-top:0;
}
#apply table#branch_fast thead input {
	width:448px;
}
/* 快速回复 E */

/* 帖子列表 S */
#bbs_2 {
	padding-bottom:0;
}
#bbs_2 .btn_new {
	margin-top:-2px;
}
#bbs_2 #bbs_block {

}
#bbs_2 .bg_1 {
	background:#fff;
}
#bbs_2 table thead td {
	background:#F0F0F0;
	text-align:center;
	height:22px;
}
#bbs_2 table tbody td {
	height:28px;
	line-height:28px;
	font-family:宋体;
}
#bbs_2 table tbody th {
	line-height:28px;
	padding-left:15px;
	font-weight: normal;
}
#bbs_2 table tbody th a {
	font-size:14px;
}
#bbs_2 table tbody th em a {
	font-size:12px;
}
#bbs_2 table tbody th img {
	margin:0 3px;
	width:13px;
	height:13px;
}
#bbs_2 table tbody a {
	font-family:宋体;
}
/* 华丽的分割线 */
#bbs_2 #bbs_block strong {
	float:right;
	padding-right:10px;
	padding-top:0;
}
#bbs_2 table {
	width:100%;
	float:left;
}
#bbs_2 table th, #bbs_2 table td {
	overflow-x:hidden;
	word-break:break-all;
	word-warp:break-word;
}
#bbs_2 table .td1 {
	width:54%;
}
#bbs_2 table .td2 {
	width:12%;
	text-align:left;
}
#bbs_2 table .td3 {
	width:12%;
}
#bbs_2 table .td4 {
	width:10%;
	text-align:left;
}
#bbs_2 table .td5 {
	width:12%;
}
#bbs_2 .bbs_color1 {
	text-align:left;
}
#bbs_2 .bbs_color2 {
	text-align:center;
	padding-left:10px;
}
#bbs_2 .bbs_color3 {
	text-align:left;
}
#bbs_2 .bbs_color4 {
	text-align:right;
	padding-right:6px;
}
/* 帖子列表 E */

/* 快速回复 S */ 
#apply table#forum_fast td.forum_fast_th input, #apply table#branch_fast td.branch_fast_th input {
	width:448px;
	height:18px;
	border:1px solid #A5AEB5;
	cursor:text;
	color:#414141;
}
/* 快速回复 E */
/* 圈子详细资料 S */
#profile {
	padding:0 30px 20px 22px;
}
#profile p {
	padding:15px 0 15px 20px;
	line-height:22px;
	border-bottom:1px solid #D5DCE5;
	word-break:break-all;
	word-warp:break-word;
	overflow-x:hidden;
}
#profile a {
	margin:0 5px;
}
#daily_interface {
	text-align:right;
	font-family:宋体;
	padding-top:15px;
	height:20px;
}
#profile p.border_none {
	border-bottom:0;
}
/* 圈子详细资料 E */

/* 发布 E */
fieldset {
	border: none;
}
input, textarea {
	border-width: 1px;
	background: #FFF;
	border-color: #D9D9D4;
	padding: 2px;
}
input[type="radio"], input[type="checkbox"] {
	border: none;
	background: none;
}
.radio, .checkbox {
	border: none;
	background: none;
}
.invitecodelist input {
	border: none;
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
	cursor: pointer;
}
button {
	border: 1px solid;
	border-color: #E6E6E2 #878787 #878787 #E6E6E2;
	background: #F5F5F0;
	height: 2em;
	line-height: 2em;
	cursor: pointer;
}
#postsubmit, button.submit {
	margin-right: 1em;
	border: 1px solid;
	border-color: #FFFDEE #FDB939 #FDB939 #FFFDEE;
	background: #FFF8C5;
	color: #FF3A00;
	padding: 0 10px;
}
button.insmsg {
	margin: 1em 0;
	border: 1px solid #E6E6E2;
	background: #FAFAF7;
	color: #FF3A00;
}
.formbox th {
	width: 180px;
	text-align: left;
}
.formbox th, .formbox td {
	padding: 5px;
}
.formbox th, .formbox td {
	border-bottom: 1px solid #D9D9D4;
}
.formbox table a {
	color: #535353;
}
.formbox label {
	cursor: pointer;
}
.lighttxt, .formbox *.tips {
	color: #878787;
}
.formbox th ul {
	padding: 5px 0;
	margin: 5px 0;
}
#threadtypes table td, #threadtypes table th {
	border-top: 1px solid #D9D9D4;
	border-bottom: 0;
}
/*Login Form*/
#loginform * {
	vertical-align: middle;
}
#loginform button {
	line-height: 21px;
	height: 21px;
	padding: 0 4px;
	margin-left: 3px;
}
/*PostForm & Editor*/
.editor_cell {
	vertical-align: top;
}
#editor {
	border: solid;
	border-color: #D9D9D4;
	border-width: 1px 1px 0;
	background: #F9F9F9;
}
#editor td {
	border: none;
	padding: 2px;
}
.editortoolbar table {
	width: auto;
}
.editortoolbar a, .editortoolbar .a {
	display: block;
	padding: 1px;
	border: 1px solid #F9F9F9;
	cursor: pointer;
}
.editortoolbar a.hover, .editortoolbar a:hover, .editortoolbar .a1 {
	background-color: #F9F9F9;
	border: 1px solid #D9D9D4;
	text-decoration: none;
}
.editor_switcher_bar {
	position: relative;
}
.editor_switcher_bar a {
	float: right;
	padding: 0 3px;
	margin-right: 5px;
}
.editor_switcher_bar button {
	border: 1px solid;
	border-color: #D9D9D4 #D9D9D4 #FFF #D9D9D4;
	font-weight: bold;
	height: 30px;
	he\ight: 28px;
	line-height: 28px;
	background: #FFF;
	margin: 0 2px;
	position: relative;
	top: 6px;
	cursor: pointer;
}
*+html .editor_switcher_bar button {
	top: 4px;
}
* html .editor_switcher_bar button {
	top: 4px;
}
.editor_switcher_bar .editor_switcher {
	border-bottom-color: #D9D9D4;
	font-weight: normal;
}
.editor_text {
	border: 1px solid;
	border-color: #D9D9D4 #D9D9D4 #D9D9D4 #D9D9D4;
}
.editor_text textarea {
	border: none;
	width: 99%;
	font: 12px/1.6em "Courier New", Courier, monospace;
}
.editor_button {
	background: #F9F9F9;
	border: solid #D9D9D4;
	border-width: 0 1px 0;
	margin-bottom: 6px;
}
.editor_button button {
	background: transparent;
	border-width: 0 0 0 1px;
	color: #535353;
}
.editor_attach {
	border: 1px solid #D9D9D4;
}
#wysiwyg {
	font: 14px/1.6em Arial, sans-serif !important;
}
#wysiwyg * {
	line-height: normal;
}
#wysiwyg a {
	text-decoration:underline;
	color: #535353 !important;
	color: #535353;
}
#wysiwyg li {
	margin-left: 2em;
}
#wysiwyg strong, #wysiwyg b {
	font-weight: bold;
}
#wysiwyg em, #wysiwyg i {
	font-style: italic;
}
.fontname_menu {
	width: 97px;
}
.fontsize_menu {
	width: 27px;
	line-height: normal;
}
#posteditor_popup_table_menu {
	width: 220px;
}
.fontname_menu li, .fontsize_menu li {
	cursor: pointer;
}
.editor_colornormal, .editor_colorhover {
	border: none !important;
	padding: 2px !important;
}
.editor_colornormal div {
	width: 10px;
	height: 10px;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #FFF;
}
.editor_colorhover div {
	width: 10px;
	height: 10px;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #7B7D72;
}
/*QuickPost*/
	#quickpost {
	overflow: hidden;
	padding-bottom: 0;
}
* html #quickpost {
	height: 1%;
	overflow: visible;
}
#quickpost h5 {
	margin: 0.5em 1em;
}
.postoptions, .postform, .smilies {
	float: left;
}
.postoptions, .smilies {
	width: 20%;
}
.postoptions p {
	margin: 2px 0.7em;
}
.postform {
	width: 59%;
	padding-bottom: 10px;
}
.postform p label {
	vertical-align: top;
	font-weight: bold;
}
.postform h5 input {
	width: 60%;
}
.postform p, .postform div {
	margin: 0 1em;
}
.postform h4 * {
	vertical-align: middle;
}
.postform h4 input {
	width: 60%;
}
.postform textarea {
	width: 90%;
	height: 160px;
}
.postform .btns {
	margin-top: 0.5em;
	line-height: 30px;
	color: #878787;
}
.postform .btns button {
	vertical-align: middle;
}
.postform .btns a {
	color: #535353;
}
.postform button {
	border: none;
	background: transparent;
	color: #535353;
	padding: 0;
	cursor: pointer;
}
.postform #postsubmit {
	float: left;
	display: inline;
	margin-left: 2.3em;
}
.btns em {
	color: #878787;
}
#smilieslist {
	border: 1px solid #E6E6E2;
	overflow: hidden;
	text-align: center;
}
#quickpost #smilieslist {
	margin: 6px 1em 0;
}
#quickpost h4 {
	border-bottom: 1px solid #E6E6E2;
}
#smilieslist td {
	border: none;
	padding: 8px 0;
	cursor: pointer;
}
#smilieslist td:hover {
	background: #E6E6E2;
}
#smilieslist .pages {
	float: none;
	border-width: 1px 0 0;
}
#smilieslist h4 {
	color: #535353;
	padding: 5px;
	line-height: 20px;
	background: #F9F9F9;
	border-bottom: 1px solid #E6E6E2;
	text-align: left;
}
#smilieslist .popupmenu_popup {
	overflow: visible;
	padding: 5px 10px;
	white-space: nowrap;
}
#smilieslist .popupmenu_popup a {
	color: #535353;
}
/*Ajax Form*/
.ajaxform {
}
.ajaxform th, .ajaxform td {
	border-bottom: 1px solid #E6E6E2;
	padding: 5px;
}
.ajaxform thead th {
	font-weight: bold;
}
.ajaxform a {
	color: #535353;
}
.btns th, .btns td {
	border: none !important;
}
/* 发布 S */