td {
	padding:3px 0px 5px 3px;
}
.title {
	color:#666600;
	font-weight:bold;
}
.title span {
	padding-left:3px;
}
#addTab {
	position:absolute;
	left:455px;
	top:64px;
	width:360px;
	height:180px;
	z-index:2;
	background-color: #FFFFFF;
	border:1px solid #889D8F;
	padding:0px;
	display:none;
}
#editTab {
	position:absolute;
	left:455px;
	top:64px;
	width:360px;
	height:350px;
	z-index:1;
	background-color: #FFFFFF;
	border:1px solid #889D8F;
	padding:0px;
	display:none;
}
.txt {
	float:left;
}
.updatedvt {
	height:20px;
	line-height:20px;
	padding-left:3px;
	width:98%;
	border-bottom:1px dashed #dcdcdc;
}
.upinfotitle {
	border-bottom:1px solid #cccccc;
	color:red;
	font-weight:bold;
	line-height:26px;
}
.verline {
	border-bottom:1px dashed #cccccc;
	line-height:26px;
}
.itemTable {
	margin-top: 8px;
	background: #CBD8AC;
}
#loaddiv
{
  top:0;
  left:0;
  background:#cccccc;
  filter:Alpha(opacity=70);
  -moz-opacity:0.7;
  position:absolute;
  z-index:10000;
  width:100%;
  height:100%;
}
#mainmsg {
	padding-right:8px;
}
#leftside {
	width:76%;
	float:left;
}
#rightside {
	width:23%;
	float:right;
	height:670px;
  scrollbar-face-color: #ffffff;
  scrollbar-highlight-color: #919192;
  scrollbar-shadow-color: #919192;
  scrollbar-3dlight-color:#ffffff;
  scrollbar-arrow-color: #919192;
  scrollbar-track-color: #ffffff;
  scrollbar-darkshadow-color: #ffffff;
}
.dbox {
	border:1px solid #DEEAB6;
	width:98%;
	margin-left:1%;
	margin-top: 8px;
}
.dbox dt {
	height:28px;
	line-height:28px;
	font-weight:bold;
	color:#4D6C2F;
}
.dbox dt .l {
	float:left;
	padding-left:8px;
}
.dbox dt .r {
	float:right;
	padding-right:8px;
}
.dbox dt.lside {
	border-bottom:1px solid #CFD7C4;
	background:url(dlgtitle.gif) repeat-x;
}
.dbox dt.rside {
	border-bottom:1px solid #DEEAB6;
	background:url(wbg.gif) repeat-x;
}
.dbox dd {
	padding:0px;
}
.dbox dd.intable {
	padding-top:3px;
}

#updatetest {
	padding:6px;
	padding-left: 110px;
	background:url(ico_spider.gif) 10px 0px no-repeat;
}

#quickmenu {
	width:100%;
	height: 46px;
	overflow:hidden;
}

#quickmenu .icoitem {
	float:left;
	height:24px;
	line-height:24px;
	margin-top:12px;
	padding-left:30px;
	overflow:hidden;
}


.dboxtable td.nline {
	border-bottom:1px dashed #CFD7C4;
	height:26px;
}
.biz p{
	padding:0 15px;
	line-height:23px;
	}
.biz img{
	float:right;
	margin:40px 15px 0 15px;
	}

.footer {
	border-top:1px solid #CFD7C4;
	line-height:36px;
	margin-top:8px;
	font-family:Verdana, Geneva, sans-serif;
}
